<% frame = defined?(bio) ? bio : "bio" %>
<%= turbo_frame_tag frame do %>
  <div id="view_bio" class="flex justify-between w-full mt-2 md:mt-0">
    <div class="flex-1">
      <h2 class="hidden pb-2 leading-3 md:b-4 md:block roboto-font font-medium text-xs">Bio</h2>
      <% if user.has_bio? %>
        <p class="text-center md:text-left leading-2 roboto-font font-light text-sm sub-title-color">
          <%= user.bio %>
        </p>
      <% else %>
        <p class="text-center md:text-left leading-2 roboto-font font-light text-sm sub-title-color">
          Describe who you are
        </p>
        <% if local_assigns[:editable].present? %>
          <%= link_to "Add Bio", profile_edit_path(frame, "bio"), class: "text-blue-500 text-sm md:hidden text-center block" %>
        <% end %>
      <% end %>
    </div>
    <div class="absolute top-0 md:top-auto right-0 md:right-auto md:relative mt-2 mr-3 md:flex md:items-start md:mr-0 md:mt-0 <%= " hidden" if !user.has_bio? %>">
      <% if local_assigns[:editable].present? %>
        <%= link_to "Edit", profile_edit_path(frame, "bio"), class: "roboto-font text-blue-500 text-2xs font-normal" %>
      <% end %>
    </div>
  </div>
<% end %>
