<header class="w-full bg-white border-b dark:bg-gray-900 dark:border-gray-700" x-data="{ mobileMenuOpen : false }">
  <nav class="py-3 px-4 mx-auto space-y-4 w-full max-w-screen-2xl md:flex md:justify-between md:items-center md:py-5 md:space-y-0 md:space-x-10">
    <div class="flex justify-between w-full">
      <%= render "shared/logo" %>
      <%= link_to "Sign In instead", new_user_session_path, class: "ext-center block p-2 rounded-md text-sm font-medium bg-white border border-blue-500 text-blue-500 hover:text-white hover:bg-blue-500" %>
    </div>
  </nav>
</header>
<div class="pb-5 w-screen font-sans antialiased bg-white sm:bg-gray-100 md:pt-5 h-screen-mobile h-screen-headless">
  <div class="flex flex-col justify-center mb-5 w-screen h-full sm:m-auto sm:w-96">
    <div class="flex flex-col p-4 space-y-6 h-full bg-white sm:shadow">
      <div class="">
        <h1 class="mt-8 text-xl font-bold leading-tight text-center md:text-2xl">Create Your Account</h1>
        <p class="text-sm text-center">Step 1 of 4</p>
      </div>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "h-full"}) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="flex flex-row space-x-4 w-full">
          <div class="mb-6 w-1/2">
            <%= f.text_field :first_name, autofocus: true, placeholder: "First Name", autocomplete: "first_name", class: "w-full px-4 py-3 rounded-lg mt-2 border focus:border-gray-500 focus:outline-none autofill:bg-white" %>
          </div>
          <div class="mb-6 w-1/2">
            <%= f.text_field :last_name, placeholder: "Last Name", autocomplete: "last_name", class: "w-full px-4 py-3 rounded-lg mt-2 border focus:border-gray-500 focus:outline-none autofill:bg-white" %>
          </div>
        </div>
        <div class="mb-4">
          <%= f.email_field :email, placeholder: "Email Address", autocomplete: "email", class: "w-full px-4 py-3 rounded-lg mt-2 border focus:border-gray-500 focus:outline-none autofill:bg-white" %>
          <p class="py-2 text-xs text-gray-400">This email will be used to sign in</p>
        </div>
        <div class="mb-2">
          <%= f.password_field :password, placeholder: "Password", autocomplete: "new-password", class: "w-full px-4 py-3 rounded-lg mt-2 border focus:border-gray-500 focus:outline-none autofill:bg-white" %>
        </div>
        <div class="mb-4">
          <%= f.password_field :password_confirmation, placeholder: "Confirm Password", autocomplete: "new-password", class: "w-full px-4 py-3 rounded-lg mt-2 border focus:border-gray-500 focus:outline-none autofill:bg-white" %>
          <p class="py-2 text-xs text-gray-400">Use 8 or more characters with a mix of letters & numbers</p>
        </div>
        <div class="flex justify-between mt-12 w-full actions">
          <div class="w-1/2">
            <p class="text-xs text-justify text-gray-400">By clicking Sign Up you agree to our <%= link_to "Terms", "#", class: "text-blue-500" %> and <%= link_to "Services", "#",class: "text-blue-500" %></p>
          </div>
          <div class="w-1/2 text-right">
            <%= f.submit "Sign up", class: "text-black bg-yellow-200 hover:bg-yellow-500 px-4 py-2 rounded-md md:text-sm text-xs font-medium" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
