<header class="w-full bg-white h-15 md:border-b md:dark:bg-gray-900 md:dark:border-gray-700">
  <nav class="w-full h-full px-4 mx-auto space-y-4 max-w-screen-2xl md:flex md:justify-between md:items-center md:space-y-0 md:space-x-10">
    <div class="flex justify-between w-full">
      <%= render "shared/logo" %>
      <%= link_to "Sign In instead", new_user_session_path, class: "ext-center block p-2 rounded-md text-sm font-medium bg-white md:border md:border-blue-500 text-blue-500 hover:text-white hover:bg-blue-500" %>
    </div>
  </nav>
</header>
<div class="flex flex-col justify-center w-screen antialiased md:pb-5 md:pt-5 h-screen-headless md:mb-5 sm:m-auto md-w-375">
  <div class="flex flex-col h-full p-4 space-y-6 bg-white md-min-h-590 md:shadow">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "h-full flex flex-col"}) do |f| %>
      <div class="flex-1">
        <div class="">
          <h1 class="mt-8 text-xl font-bold leading-tight text-center md:text-2xl">Create Your Account</h1>
          <p class="py-2 text-sm text-center">Step 1 of 4</p>
        </div>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="flex flex-row w-full space-x-4">
          <div class="w-1/2 mb-6">
            <%= f.text_field :first_name, autofocus: true, placeholder: "First Name", autocomplete: "first_name", class: "w-full px-4 py-3 rounded-lg mt-2 border focus:border-gray-500 focus:outline-none autofill:bg-white" %>
          </div>
          <div class="w-1/2 mb-6">
            <%= f.text_field :last_name, placeholder: "Last Name", autocomplete: "last_name", class: "w-full px-4 py-3 rounded-lg mt-2 border focus:border-gray-500 focus:outline-none autofill:bg-white" %>
          </div>
        </div>
        <div class="mb-4">
          <%= f.email_field :email, placeholder: "Email Address", autocomplete: "email", class: "w-full px-4 py-3 rounded-lg mt-2 border focus:border-gray-500 focus:outline-none autofill:bg-white" %>
          <p class="py-2 text-xs text-gray-500">This email will be used to sign in</p>
        </div>
        <div class="mb-2">
          <%= f.password_field :password, placeholder: "Password", autocomplete: "new-password", class: "w-full px-4 py-3 rounded-lg mt-2 border focus:border-gray-500 focus:outline-none autofill:bg-white" %>
        </div>
        <div class="mb-4">
          <%= f.password_field :password_confirmation, placeholder: "Confirm Password", autocomplete: "new-password", class: "w-full px-4 py-3 rounded-lg mt-2 border focus:border-gray-500 focus:outline-none autofill:bg-white" %>
          <p class="py-2 text-xs text-gray-500">Use 8 or more characters with a mix of letters & numbers</p>
        </div>
      </div>
      <div class="flex justify-between w-full actions">
        <div class="w-1/2">
          <p class="text-xs text-justify text-gray-500">By clicking Sign Up you agree to our <%= link_to "Terms", terms_of_service_path, class: "text-blue-500", target: "_blank" %> and <%= link_to "Services", privacy_policy_path, class: "text-blue-500", target: "_blank" %></p>
        </div>
        <div class="w-1/2 text-right">
          <%= f.submit "Sign up", class: "text-black bg-yellow-light hover:bg-yellow-500 px-4 py-2 rounded-md md:text-sm text-xs font-medium" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
