<%= turbo_frame_tag "language_form" do %>
  <div id="edit_languages" class="w-full p-2 bg-gray-100">
    <style>
      .languages-wrapper input[type="checkbox"] + label span {
        border: 1px solid rgba(0, 0, 0, 0.6);
        color: rgba(0, 0, 0, 0.6);
      }
      .languages-wrapper input[type="checkbox"]:checked + label span {
        border: 1px solid #3374DE;
        color: #3374DE;
      }
    </style>
    <div class="py-2">
      <h1 class="text-normal">What languages do you provide services in?</h1>
    </div>
    <%= form_for(user, url: url, html: {method: :put, id: dom_id(user, "languages")}) do |f| %>
      <%= render "devise/shared/error_messages", resource: user %>
      <div class="flex flex-wrap languages-wrapper" x-data="{languageMore: false}">
        <%= collection_check_boxes(:user, :language_ids, Language.primary.order(:name), :id, :name) do |b| %>
          <%= b.check_box(class: "hidden", checked: user.language_ids.include?(b.object.id)) + b.label(:"data-value" => b.value, class: "py-2 mr-2 mb-2 cursor-pointer") { "<span class='p-2 text-sm bg-white rounded-full'>#{b.text}</span>".html_safe } %>
        <% end %>
        <a href="#" class="w-full pt-2 pb-4 text-sm text-left text-blue-500" class="text-blue-500" @click.prevent="languageMore = !languageMore" x-text="languageMore ? 'Hide Languages' : 'More Languages'">More Languages</a>
        <div class="flex flex-wrap languages-wrapper" x-show="languageMore">
          <%= collection_check_boxes(:user, :language_ids, Language.secondary.order(:name), :id, :name) do |b| %>
            <%= b.check_box(class: "hidden", checked: user.language_ids.include?(b.object.id)) + b.label(:"data-value" => b.value, class: "py-2 mr-2 mb-2 cursor-pointer") { "<span class='p-2 text-sm bg-white rounded-full'>#{b.text}</span>".html_safe } %>
          <% end %>
        </div>
      </div>
      <input type="hidden" name="from_url" value="<%= from_url %>">
      <input type="hidden" name="frame" value="language_form">
      <input type="hidden" name="component" value="language">
      <div class="pt-4 pb-2 text-right actions">
        <%= link_to "Cancel", profile_view_path("language_form", "language"), class: "text-gray-500 lg:px-4 py-2 rounded-md text-sm font-medium mr-2" %>
        <%= submit_tag "Save", class: "bg-blue-500 text-white hover:bg-blue-700 px-4 py-2 rounded-md text-sm font-medium" %>
      </div>
    <% end %>
  </div>
<% end %>
