<style>
  .languages-wrapper input[type="checkbox"] + label span {
    border: 1px solid black;
    color: black;
  }
  .languages-wrapper input[type="checkbox"]:checked + label span {
    border: 1px solid #3374DE;
    color: #3374DE;
  }
</style>
<div class="py-2">
  <h1 class="text-normal">What languages do you provide services in?</h1>
</div>
<%= form_for(user, url: url, html: {method: :put, id: id}) do |f| %>
  <%= render "devise/shared/error_messages", resource: user %>
  <div class="flex flex-wrap languages-wrapper">
    <%= collection_check_boxes(:user, :language_ids, Language.all, :id, :name) do |b| %>
      <%= b.check_box(class: "hidden", checked: user.language_ids.include?(b.object.id)) + b.label(:"data-value" => b.value, class: "py-2 mr-2 mb-2 cursor-pointer") { "<span class='p-2 text-sm bg-white rounded-full'>#{b.text}</span>".html_safe } %>
    <% end %>
  </div>
  <input type="hidden" name="from_url" value="<%= from_url %>">
<% end %>
