<div class="flex flex-row">
  <div class="w-15 flex flex-col items-center">
    <div class="flex-1 w-full" @click="imgModal = ''; linkable = '';">&nbsp;</div>
    <% if portfolio.next.present? %>
      <%= link_to portfolio_path(portfolio.next), remote: true do %>
        <%= image_tag "icons/popup-l.svg", class: "mr-5 cursor-pointer", alt: "" %>
      <% end %>
    <% end %>
    <div class="flex-1 w-full" @click="imgModal = ''; linkable = '';">&nbsp;</div>
  </div>
  <div class="flex flex-1 flex-row overflow-hidden bg-white rounded-xl" style="max-width: 874px;">
    <div id="portfolioInfoModal" class="px-3 py-5 overflow-y-scroll" style="width:375px;max-height: 499px">
      <div class="flex">
        <% if local_assigns[:editable].present? %>
          <%= link_to "Edit", edit_portfolio_path(portfolio), remote: true, data: { "turbo-frame": "_top" }, class: "px-5 py-1 text-sm text-blue-500 border border-blue-500 rounded" %>
        <% end %>
      </div>
      <ul class="my-3 space-y-3 list-none">
        <li class="p-2 border border-gray-200 md:py-4 md:mt-3">
          <h2 class="hidden pb-2 leading-3 md:b-4 text-xs font-medium roboto-font md:block">Description</h2>
          <p class="text-xs text-center roboto-font font-light md:text-left md:text-sm leading-2"><%= portfolio.description&.html_safe %></p>
        </li>
        <li class="p-2 border border-gray-200 md:py-4 md:mt-3">
          <h2 class="hidden pb-2 leading-3 md:b-4 text-xs font-medium roboto-font md:block">Services
            Provided</h2>
          <ul class="flex flex-wrap">
            <% portfolio.service_types.each do |service_type| %>
              <li class="mt-2 mr-2">
                <span class="block px-3 py-1 text-sm roboto-font font-light border border-gray-200 rounded-full"><%= service_type.name %></span>
              </li>
            <% end %>
          </ul>
        </li>
        <li class="p-2 border border-gray-200 md:py-4 md:mt-3">
          <h2 class="hidden pb-2 leading-3 md:b-4 text-xs font-medium roboto-font md:block">Hair
            Type</h2>
          <ul class="flex flex-wrap">
            <% Array.wrap(portfolio.hair_type).each do |hair_type| %>
              <li class="mt-2 mr-2">
                <span class="block px-3 py-1 text-sm border roboto-font font-light border-gray-200 rounded-full"><%= hair_type&.humanize %></span>
              </li>
            <% end %>
          </ul>
        </li>
        <li class="p-2 border border-gray-200 md:py-4 md:mt-3">
          <h2 class="hidden pb-2 leading-3 md:b-4 text-xs font-medium roboto-font md:block">Hair
            length</h2>
          <% if portfolio.hair_length.present? %>
            <span class="px-3 py-1 text-sm border  border-gray-200 roboto-font font-light rounded-full"><%= portfolio.hair_length&.humanize %></span>
          <% end %>
        </li>
      </ul>
      <div class="flex flex-col" id="flagContainer">
        <% if local_assigns[:editable].present? %>
          <%= link_to "Delete", portfolio_path(portfolio), method: :delete, data: { "turbo-frame": "_top", confirm: "Are you sure?" }, class: "block px-3 py-2 text-sm text-center text-red-500" %>
        <% else %>
          <%= link_to "Flag Photo", portfolio_flags_path(portfolio, user_id: user_signed_in? && current_user.id), method: :post, remote: true, data: { "turbo-frame": "_top" }, class: "block px-3 py-2 text-sm text-center text-red-500" %>
        <% end %>
      </div>
    </div>
    <div class="relative flex items-center" style="max-width:499px">
      <% if portfolio.image_url_type == "file" %>
        <%= image_tag picture_url(portfolio.picture), class: "object-contain", alt: "#{portfolio.user_first_name} Portfolio" %>
        <div class="absolute bottom-3 right-3">
          <%= render partial: "shared/share", locals: { classMenu: "bottom-12",
                                                        share_title: portfolio.user_first_name,
                                                        share_link: portfolio.url,
                                                        share_desc: portfolio.description,
                                                        share_image: portfolio.pictures.attached? ? picture_url(portfolio.picture) : "" } %>
        </div>
      <% else %>
        <%= image_tag portfolio.static_image_url, class: "object-contain", alt: "#{portfolio.user_first_name} Portfolio" %>
        <div class="absolute bottom-3 right-3">
          <%= render partial: "shared/share", locals: { classMenu: "bottom-12",
                                                        share_title: portfolio.user_first_name,
                                                        share_link: portfolio.url,
                                                        share_desc: portfolio.description,
                                                        share_image: portfolio.pictures.attached? ? portfolio.static_image_url : "" } %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="w-15 flex flex-col items-center">
    <div class="flex-1 w-full" @click="imgModal = ''; linkable = '';">&nbsp;</div>
    <% if portfolio.prev.present? %>
      <%= link_to portfolio_path(portfolio.prev), remote: true do %>
        <%= image_tag "icons/popup-r.svg", class: "ml-5 cursor-pointer", alt: "" %>
      <% end %>
    <% end %>
    <div class="flex-1 w-full" @click="imgModal = ''; linkable = '';">&nbsp;</div>
  </div>
</div>
