<div class="flex flex-col space-x-4 md:flex-row">
  <div class="block relative px-2 pt-8 border-r md:w-1/2 lg:w-2/5" x-data="{ tab : 'profile' }">
    <div class="p-8 mb-2 border-b">
      <h2 class="mb-4 text-xl leading-6">Length of Hair</h2>
      <%= image_tag "girl.png", class: "object-contain h-full" %>
    </div>
  </div>
  <div class="py-12 px-8 md:overflow-y-scroll md:w-1/2 md:h-screen lg:w-3/5">
    <div class="grid grid-cols-3 m-4 space-x-4 md:grid-cols-5">
      <% Array.wrap(@portfolio.pictures).each do |picture| %>
        <div class="">
          <p class="py-2 pt-4 text-gray-600">
            <%= picture.blob.filename %>
          </p>
          <%= image_tag picture, class: "w-36 rounded-md"  %>
        </div>
      <% end %>
    </div>
    <%= form_for(@portfolio, url: portfolio_path(@portfolio), html: { method: :put}) do |f| %>
      <div class="w-full">
        <%= f.text_area :description, autofocus: true, placeholder: "Add Description...", class: "w-full rounded-lg mb-4 border-none focus:border-gray-500 focus:outline-none autofill:bg-white" %>
      </div>
      <div class="py-4 w-full border-t">
        <label for="" class="font-bold text-md">Services Provided</label>
        <%# <ul class="flex py-2 mt-4 space-x-4">
          <li><span class="py-2 px-6 rounded-full border border-gray-500">cut</span></li>
          <li><span class="py-2 px-6 rounded-full border border-gray-500">color</span></li>
          <li><span class="py-2 px-6 rounded-full border border-gray-500">style</span></li>
        </ul> %>
        <div class="flex flex-col mt-4 w-full md:inline-flex md:flex-row md:items-center">
          <div class="block relative w-full">
            <div x-data  data-tags='[<%= @portfolio.service_types.pluck(:name).map{|name| "\"#{name}\""}.join(',') %>]'>
              <div x-data="tagSelect()" x-init="init('parentEl')" @click.away="clearSearch()" @keydown.escape="clearSearch()">
                <div class="overflow-y-scroll relative w-full rounded" @keydown.enter.prevent="addTag(textInput)" @click.prevent="focusTag()">
                  <div class="w-full">
                    <div :class="[open ? 'block' : 'hidden']">
                      <div class="absolute left-0 z-40 m-1 w-full">
                        <div class="py-1 text-sm bg-white rounded border border-gray-300 shadow-lg">
                          <a @click.prevent="addTag(textInput)" class="block py-1 px-5 cursor-pointer hover:text-white hover:bg-indigo-600">Add service type "<span class="font-semibold" x-text="textInput"></span>"</a>
                        </div>
                      </div>
                    </div>
                    <input x-model="textInput" x-ref="textInput" @input="search($event.target.value)" class="inline-block p-2 w-full leading-tight text-gray-700 bg-white rounded border" placeholder="i.e. Cut, Color, Style">
                    <p class="my-2 text-xs text-gray-400">Seperate services with a comma</p>
                  </div>
                  <!-- selections -->
                  <template x-for="(tag, index) in tags">
                    <div class="inline-flex items-center m-1 text-sm text-center rounded-full border border-blue-500">
                      <input type="hidden" name="portfolio[service_types_attributes][][name]" :value="tag" />
                      <span class="px-2 mr-1 ml-2 max-w-xs leading-relaxed text-blue-500 truncate" x-text="tag"></span>
                      <button @click.prevent="removeTag(index)" class="inline-block w-6 h-8 text-blue-500 align-middle hover:text-gray-600 focus:outline-none">
                        <svg class="mx-auto w-6 h-6 text-blue-500 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill=""><path fill-rule="evenodd" d="M15.78 14.36a1 1 0 0 1-1.42 1.42l-2.82-2.83-2.83 2.83a1 1 0 1 1-1.42-1.42l2.83-2.82L7.3 8.7a1 1 0 0 1 1.42-1.42l2.83 2.83 2.82-2.83a1 1 0 0 1 1.42 1.42l-2.83 2.83 2.83 2.82z"/></svg>
                      </button>
                    </div>
                  </template>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="py-4 w-full border-t">
        <label for="" class="font-bold text-md">Hair Type</label>
        <%# <ul class="flex py-2 mt-4 space-x-4">
          <li><span class="py-2 px-6 rounded-full border border-gray-500">Straight</span></li>
          <li><span class="py-2 px-6 rounded-full border border-gray-500">Wavy</span></li>
          <li><span class="py-2 px-6 rounded-full border border-gray-500">Culry</span></li>
          <li><span class="py-2 px-6 rounded-full border border-gray-500">Afro</span></li>
        </ul> %>
        <div class="flex flex-col mt-4 w-full md:inline-flex md:flex-row md:items-center">
          <div class="block relative w-full">
            <div x-data  data-tags='[<%= @portfolio.hair_types.pluck(:name).map{|name| "\"#{name}\""}.join(',') %>]'>
              <div x-data="tagSelect()" x-init="init('parentEl')" @click.away="clearSearch()" @keydown.escape="clearSearch()">
                <div class="overflow-y-scroll relative w-full rounded" @keydown.enter.prevent="addTag(textInput)" @click.prevent="focusTag()">
                  <div class="w-full">
                    <div :class="[open ? 'block' : 'hidden']">
                      <div class="absolute left-0 z-40 m-1 w-full">
                        <div class="py-1 text-sm bg-white rounded border border-gray-300 shadow-lg">
                          <a @click.prevent="addTag(textInput)" class="block py-1 px-5 cursor-pointer hover:text-white hover:bg-indigo-600">Add hair type "<span class="font-semibold" x-text="textInput"></span>"</a>
                        </div>
                      </div>
                    </div>
                    <input x-model="textInput" x-ref="textInput" @input="search($event.target.value)" class="inline-block p-2 w-full leading-tight text-gray-700 bg-white rounded border" placeholder="i.e. Straight, wavy, Curly">
                    <p class="my-2 text-xs text-gray-400">Seperate hair types with a comma</p>
                  </div>
                  <!-- selections -->
                  <template x-for="(tag, index) in tags">
                    <div class="inline-flex items-center m-1 text-sm text-center rounded-full border border-blue-500">
                      <input type="hidden" name="portfolio[hair_types_attributes][][name]" :value="tag" />
                      <span class="px-2 mr-1 ml-2 max-w-xs leading-relaxed text-blue-500 truncate" x-text="tag"></span>
                      <button @click.prevent="removeTag(index)" class="inline-block w-6 h-8 text-blue-500 align-middle hover:text-gray-600 focus:outline-none">
                        <svg class="mx-auto w-6 h-6 text-blue-500 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill=""><path fill-rule="evenodd" d="M15.78 14.36a1 1 0 0 1-1.42 1.42l-2.82-2.83-2.83 2.83a1 1 0 1 1-1.42-1.42l2.83-2.82L7.3 8.7a1 1 0 0 1 1.42-1.42l2.83 2.83 2.82-2.83a1 1 0 0 1 1.42 1.42l-2.83 2.83 2.83 2.82z"/></svg>
                      </button>
                    </div>
                  </template>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex justify-between py-4 w-full border-t">
        <div>
          <%= f.label :pictures, "Save and add another photo", class: "text-blue-500" %>
          <%= f.file_field :pictures, multiple: true, accept: "image/*", class: "hidden", onchange: "readFile(this);" %>
        </div>
        <div class="text-right actions">
          <%= link_to "Cancel", root_url, class: "text-black text-white text-blue-500 hover:bg-blue-500 hover:text-white lg:px-4 py-2 rounded-md text-sm font-medium" %>
          <%= f.submit "Save", class: "text-black text-white bg-blue-500 hover:bg-blue-700 px-4 py-2 rounded-md text-sm font-medium" %>
        </div>
      </div>
      <div id="photos" class="flex mb-12 space-x-4"></div>
    <% end %>
  </div>
</div>
<script>
  function tagSelect() {
    return {
      open: false,
      textInput: '',
      tags: [],
      init() {
        this.tags = JSON.parse(this.$el.parentNode.getAttribute('data-tags'));
      },
      addTag(tag) {
        tag = tag.trim()
        if (tag != "" && !this.hasTag(tag)) {
          this.tags.push( tag )
        }
        this.clearSearch()
        this.$refs.textInput.focus()
        this.fireTagsUpdateEvent()
      },
      fireTagsUpdateEvent() {
        this.$el.dispatchEvent(new CustomEvent('tags-update', {
          detail: { tags: this.tags },
          bubbles: true,
        }));
      },
      hasTag(tag) {
        var tag = this.tags.find(e => {
          return e.toLowerCase() === tag.toLowerCase()
        })
        return tag != undefined
      },
      removeTag(index) {
        this.tags.splice(index, 1)
        this.fireTagsUpdateEvent()
      },
      search(q) {
        if ( q.includes(",") ) {
          q.split(",").forEach(function(val) {
            this.addTag(val)
          }, this)
        }
        this.toggleSearch()
      },
      clearSearch() {
        this.textInput = ''
        this.toggleSearch()
      },
      toggleSearch() {
        this.open = this.textInput != ''
      },
      focusTag() {
        this.clearSearch()
        this.$refs.textInput.focus()
      }
    }
  }
  
  function readFile(input) {
    counter = input.files.length;
  		for(x = 0; x<counter; x++){
  			if (input.files && input.files[x]) {
  
  				var reader = new FileReader();
  
  				reader.onload = function (e) {
        	document.getElementById("photos").innerHTML += '<div class="w-1/2 md:w-1/3"><img src="'+e.target.result+'" class="img-thumbnail"></div>';
  				};
  
  				reader.readAsDataURL(input.files[x]);
  			}
    }
  }
</script>
