<%= form_for(@portfolio, url: portfolios_path, multipart: true, html: { method: :post, id: dom_id(@portfolio, "picture"), class: "w-full h-screen-main" }) do |f| %>
  <div id="mydropzone" class="h-full">
    <div id="template-preview" class="flex flex-col items-center justify-center w-full h-full md:flex-row">
      <div class="text-center">
        <% @token = form_authenticity_token %>
        <%= hidden_field_tag :authenticity_token, @token %>
        <%= f.label :pictures, class: "cursor-pointer" do %>
          <%= image_tag "icons/upload_portfolio.png", class: "w-36 mx-auto mb-8 md:block hidden", alt: "" %>
          <h1 class="mb-8 text-2xl hidden md:block">
            <span class="text-blue-500">Chose a file</span> or drag it here
          </h1>
          <span class="px-4 md:hidden py-2 text-indigo-500 bg-white border border-indigo-500 rounded-md hover:text-white hover:bg-indigo-500">Choose a File</span>
          <p class="mb-24 text-sm mt-4">File formats accepted JPG, PNG, JPEG</p>
        <% end %>
        <%= f.file_field :pictures, accept: "image/*", class: "hidden", onchange: "document.getElementById('submit-file').click()", data: {target: "dropzone.input"}  %>
        <%= f.submit "Submit", class: "hidden", id: "submit-file" %>
      </div>
    </div>
  </div>
<% end %>
<script type="text/javascript">
  // Dropzone.autoDiscover = false;
  var AUTH_TOKEN= '<%= @token %>';
  var myDropzone = new Dropzone("div#mydropzone",{
    url: "<%= portfolios_path %>",
    autoProcessQueue: true,
    uploadMultiple: true,
    parallelUploads: 1,
    maxFiles: 1,
    maxFilesize: 1,
    acceptedFiles: 'image/*',
    addRemoveLinks: false,
    paramName: "portfolio[pictures]",
    params:{
      'authenticity_token':  AUTH_TOKEN
    },
    success: function(data,response){
      document.getElementById('template-preview').classList.add("hidden");
      window.location = response.location;
    }
  });
</script>
