<%= content_for(:head) do %>
<% @picture = Rails.application.routes.url_helpers.rails_blob_url(@portfolio.picture) if @portfolio.pictures.attached? %>
<meta property="og:url"                content="<%= @portfolio.url %>" />
<meta property="og:type"               content="website" />
<meta property="og:title"              content="Salon House - <%= @portfolio.user_first_name %>" />
<meta property="og:description"        content="<%= @portfolio.description %>" />
<meta property="og:image"              content="<%= @picture %>" />

<meta name="twitter:title" content="Salon House - <%= @portfolio.user_first_name %>">
<meta name="twitter:description" content="<%= @portfolio.description %>">
<meta name="twitter:image" content="<%= @picture %>">
<meta name="twitter:card" content="summary_large_image">

<meta property="og:site_name" content="Salon House">
<meta name="twitter:image:alt" content="Salon House">

<meta property="fb:app_id" content="<%= ENV["FB_APP_ID"] %>" />
<meta name="twitter:site" content="<%= ENV["TWITTER_SITE_NAME"] %>">
<% end %>
<div class="flex flex-row py-5 px-3">
  <% url = current_user.present? && @portfolio.user == current_user ? root_url : @portfolio.user.url %>
  <%= link_to url, class: "text-md font-medium flex-1 flex flex-row items-center" do %>
    <%= image_tag "icons/flash-l.svg", class: "mr-3 w-4 h-4", alt: "" %>
    <span class="text-md font-medium flex-1">Styled by <%= @portfolio.user_first_name %></span>
  <% end %>
  <div class="flex">
    <% if @editable %>
      <%= link_to "Edit", edit_portfolio_path(@portfolio), class: "px-5 py-1 text-sm text-blue-500 border border-blue-500 rounded" %>
    <% end %>
  </div>
</div>
<%= render partial: "portfolio", locals: {portfolio: @portfolio, editable: @editable} %>
