<%= turbo_frame_tag "availability_form" do %>
  <div id="edit_availability" class="w-full p-2 bg-gray-100">
    <style>
      input + label.availability {
        position: relative;
      }
      input[type="checkbox"] + label.availability span {
        background: rgba(0, 0, 0, 0.12);
        display: inline-block;
        vertical-align: middle;
        position: absolute;
        top:10px;
        left:10px;
        z-index: 10;
      }
      input[type="checkbox"]:checked + label.availability span {
        background: url('<%= image_url("icons/selected-checkbox.svg") %>') center center no-repeat;
      }
    </style>
    <div class="py-2">
      <h1 class="text-normal">Availability</h1>
    </div>
    <%= form_for(user, url: url, html: {method: :put, id: dom_id(user, "availability")}) do |f| %>
      <%= render "devise/shared/error_messages", resource: user %>
      <div class="w-full">
        <% availabilities = [] %>
        <% 0.upto(6) do |day_number| %>
          <% availabilities << user.availabilities.find_or_initialize_by(day: day_number) %>
        <% end %>
        <%= f.fields_for :availabilities, availabilities do |av_form|%>
          <div class="w-full py-4 border-b" x-data="{ work : <%= av_form.object.opened.to_s %> }">
            <div class="flex flex-row w-full">
              <div class="w-16 h-12">
                <%= av_form.check_box :opened, class: "hidden", "@change": "work = !work" %>
                <%= av_form.label :opened, class: "availability" do %>
                  <span class="w-8 h-8 rounded-full"></span>
                <% end %>
              </div>
              <div class="flex flex-wrap content-center flex-1">
                <div class="flex flex-row w-full">
                  <p class="pr-2">
                    <%= av_form.label :opened, class: "availability" do %>
                      <%= av_form.object.day_name %>
                      <%= av_form.text_field :day, class: "hidden" %>
                    <% end %>
                  </p>
                  <p class="flex-1 text-center" x-show="!work">Not Available</p>
                </div>
              </div>
            </div>
            <div class="flex flex-1 flew-row " x-show="work">
              <div class="w-14">
              </div>
              <div class="flex flex-1 leading-10">
                <%= av_form.time_select :open_at, {ampm: true, default: av_form.object.open_at || Time.current.change(hour: 9, min: 0), ":disabled": "!work"}, class: "mx-2 p-2 w-1/2 rounded-lg border focus:border-gray-500 focus:outline-none autofill:bg-white space-x-4 space-x-reverse" %>
              </div>
              <span class="px-2 mx-auto leading-10">-</span>
              <div class="flex flex-1 leading-10">
                <%= av_form.time_select :close_at, {ampm: true, default: av_form.object.close_at || Time.current.change(hour: 20, min: 0), ":disabled": "!work"}, class: "mx-2 p-2 w-1/2 rounded-lg border focus:border-gray-500 focus:outline-none autofill:bg-white space-x-4 space-x-reverse" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <input type="hidden" name="from_url" value="<%= from_url %>">
      <input type="hidden" name="frame" value="availability_form">
      <input type="hidden" name="component" value="availability">
      <div class="pt-4 pb-2 text-right actions">
        <%= link_to "Cancel", profile_view_path("availability_form", "availability"), class: "text-gray-500 lg:px-4 py-2 rounded-md text-sm font-medium" %>
        <%= submit_tag "Save", class: "bg-blue-500 text-white hover:bg-blue-700 px-4 py-2 rounded-md text-sm font-medium" %>
      </div>
    <% end %>
  </div>
<% end %>
