<%= form_for(@user, :url => wizard_path, html: {method: :put, class: "h-full flex flex-col"}, data: { controller: 'redirect-on-created', redirect_on_created_target: 'form' }) do |f| %>
  <div class="flex-1">
    <div class="md:pb-10">
      <h1 class="mt-8 text-xl font-bold leading-tight text-center md:text-2xl">Let clients know about you</h1>
      <p class="py-2 text-sm text-center">Step 4 of 4</p>
    </div>
    <%= render "devise/shared/error_messages", resource: @user %>
    <div class="flex flex-row items-center w-full mb-4">
      <%= link_to wizard_path(:specialties), class: "w-1/2 border border-gray-200 hover:border-blue-500 p-2 mr-2 roboto-font font-light text-sm", data: { "turbo-frame": "_top" } do %>
        <div class="flex justify-between mb-6">
          <%= image_tag "icons/speciality.svg", class: "h-5", alt: "" %>
          <% if @user.has_specialties? %>
            <%= image_tag "icons/checked-checkbox.svg", class: "h-5", alt: "" %>
          <% else %>
            <%= image_tag "icons/empty-checkbox.svg", class: "h-5", alt: "" %>
          <% end %>
        </div>
        Your specialties
      <% end %>
      <%= link_to wizard_path(:services), class: "w-1/2 border border-gray-200 hover:border-blue-500 p-2 ml-2 roboto-font font-light text-sm", data: { "turbo-frame": "_top"} do %>
        <div class="flex justify-between mb-6">
          <%= image_tag "icons/services.svg", class: "h-5", alt: "" %>
          <% if @user.has_services? %>
            <%= image_tag "icons/checked-checkbox.svg", class: "h-5", alt: "" %>
          <% else %>
            <%= image_tag "icons/empty-checkbox.svg", class: "h-5", alt: "" %>
          <% end %>
        </div>
        Services you offer
      <% end %>
    </div>
    <div class="flex flex-row items-center w-full mb-4">
      <%= link_to wizard_path(:bio), data: { "turbo-frame": "_top" }, class: "w-1/2 border border-gray-200 hover:border-blue-500 p-2 mr-2 roboto-font font-light text-sm" do %>
        <div class="flex justify-between mb-6">
          <%= image_tag "icons/bio.svg", class: "h-5", alt: "" %>
          <% if @user.has_bio? %>
            <%= image_tag "icons/checked-checkbox.svg", class: "h-5", alt: "" %>
          <% else %>
            <%= image_tag "icons/empty-checkbox.svg", class: "h-5", alt: "" %>
          <% end %>
        </div>
        Your biography
      <% end %>
      <%= link_to wizard_path(:education), data: { "turbo-frame": "_top" }, class: "w-1/2 border border-gray-200 hover:border-blue-500 p-2 ml-2 roboto-font font-light text-sm" do %>
        <div class="flex justify-between mb-6">
          <%= image_tag "icons/education.svg", class: "h-5", alt: "" %>
          <% if @user.has_education? %>
            <%= image_tag "icons/checked-checkbox.svg", class: "h-5", alt: "" %>
          <% else %>
            <%= image_tag "icons/empty-checkbox.svg", class: "h-5", alt: "" %>
          <% end %>
        </div>
        Your education
      <% end %>
    </div>
    <div class="flex flex-row items-center w-full mb-4">
      <%= link_to wizard_path(:experience), class: "w-1/2 border border-gray-200 hover:border-blue-500 p-2 mr-2 roboto-font font-light text-sm" do %>
        <div class="flex justify-between mb-6">
          <%= image_tag "icons/calendar.svg", class: "h-5", alt: "" %>
          <% if @user.has_started_at? %>
            <%= image_tag "icons/checked-checkbox.svg", class: "h-5", alt: "" %>
          <% else %>
            <%= image_tag "icons/empty-checkbox.svg", class: "h-5", alt: "" %>
          <% end %>
        </div>
        Years of Experience
      <% end %>
      <%= link_to wizard_path(:social_media), class: "w-1/2 border border-gray-200 hover:border-blue-500 p-2 ml-2 roboto-font font-light text-sm" do %>
        <div class="flex justify-between mb-6">
          <%= image_tag "icons/social.svg", class: "h-5", alt: "" %>
          <% if @user.has_social_media? %>
            <%= image_tag "icons/checked-checkbox.svg", class: "h-5", alt: "" %>
          <% else %>
            <%= image_tag "icons/empty-checkbox.svg", class: "h-5", alt: "" %>
          <% end %>
        </div>
        Social Media
      <% end %>
    </div>
    <p class="mt-2 text-xs text-center text-gray-500">This information will populate your profile tab</p>
  </div>
  <div class="w-full actions">
    <%= f.submit "Save", class: "w-full text-blue-500 bg-white hover:text-white hover:bg-blue-500 border border-blue-500 lg:px-4 py-2 rounded-full text-sm font-medium" %>
  </div>
<% end %>
