<style>
  input:checked + label {
  	border: 1px solid #3374DE;
    position: relative;
  }
  input[type="radio"] + label span {
    display: inline-block;
    vertical-align: middle;
    width: 45px;
    height: 45px;
    position: absolute;
    top:5px;
    left:5px;
  }
  input[type="radio"]:checked + label span {
    background: url('<%= image_url("icons/checkbox-radio-sprite.svg") %>') top left no-repeat;
  }
</style>
<%= form_for(@user, :url => wizard_path, html: {method: :put, class: "h-full flex flex-col"}) do |f| %>
  <div class="flex-1">
    <div class="pb-4 md:pb-10">
      <h1 class="mt-8 text-xl font-bold leading-tight text-center md:text-2xl">Which best describes you</h1>
      <p class="py-2 text-sm text-center">Step 2 of 4</p>
    </div>
    <%= render "devise/shared/error_messages", resource: @user %>
    <div class="flex flex-row flex-1 w-full">
      <%= f.radio_button :role, "barber", checked: true, class: "hidden" %>
      <label for="user_role_barber" class="w-1/2 py-12 mb-6 mr-2 text-center border border-gray-200 rounded-2xl focus:border-blue-200">
        <span class=""></span>
        Barber
      </label>
      <%= f.radio_button :role, "hair_stylist", class: "hidden" %>
      <label for="user_role_hair_stylist" class="w-1/2 py-12 mb-6 ml-2 text-center border border-gray-200 rounded-2xl focus:border-blue-200">
        <span class=""></span>
        Hair Stylist
      </label>
    </div>
  </div>
  <div class="w-full text-right actions">
    <%= f.submit "Next", class: "text-black text-white bg-blue-500 hover:bg-blue-700 px-4 py-2 rounded-md text-sm font-medium" %>
  </div>
<% end %>
