<%= form_for(@user, :url => wizard_path, html: {method: :put, class: "h-full flex flex-col"}) do |f| %>
  <div class="flex-1">
    <div class="pb-4 md:pb-10">
      <h1 class="mt-8 font-bold text-normal">Link your social media accounts</h1>
    </div>
    <%= render "devise/shared/error_messages", resource: @user %>
    <% @social_data = SocialMedium.kinds.keys.map{|k| @user.social_media.find_or_initialize_by(kind: k) }%>
    <div class="flex-1 w-full pt-2">
      <%= f.fields_for :social_media, @social_media  do |social_form| %>
        <div class="flex flex-row items-center w-full px-4 mb-3 border rounded-lg focus:border-gray-500 focus:outline-none">
          <%= image_tag "icons/#{social_form.object.kind}.svg", class: "w-5", alt: social_form.object.kind %>
          <span class="ml-4 text-gray-500"><%= "https://#{social_form.object.kind}.com/" %></span>
          <%= social_form.text_field :url, placeholder: "username", class: "w-full py-3 focus:border-none outline-none autofill:bg-white" %>
          <%= social_form.text_field :kind, class: "hidden" %>
          <%= social_form.text_field :id, class: "hidden" %>
        </div>
      <% end %>
      <p class="text-xs text-gray-500">Copy and paste your social media accounts</p>
    </div>
  </div>
  <div class="w-full text-right actions">
    <%= link_to "Cancel", wizard_path(:information), class: "text-black text-gray-500 hover:bg-blue-500 hover:text-white px-4 py-2 rounded-md md:text-sm  text-xs font-medium" %>
    <%= f.submit "Save", class: "text-black text-white bg-blue-500 hover:bg-blue-700 px-4 py-2 rounded-md text-sm font-medium" %>
  </div>
<% end %>
