<div class="flex flex-col justify-center">
  <div class="flex flex-col p-4">
    <h1 class="font-bold leading-tight text-center text-lg md:text-left">Deactivate Account</h1>
    <p class="mt-2 mb-4 text-xs text-center text-gray-500 md:text-sm md:text-left">Hide your portfolio from the web</p>
    <div class="mt-4 mb-2">
      <%= f.label :deactivate_reason, "Why are you closing your account?", class: "text-xs md:text-sm text-gray-500" %>
      <%= f.select :deactivate_reason, options_for_select(User.deactivate_reasons.keys), {}, class: "w-full px-4 py-3 rounded-lg mt-2 border focus:border-gray-500 focus:outline-none autofill:bg-white", ":disabled": "submenu !== 'deactivate'" %>
    </div>
    <div class="mt-8 mb-8">
      <%= f.label :deactivate_description, "Anything else you would like to tell us?", class: "text-xs md:text-sm text-gray-500" %>
      <%= f.text_area :deactivate_description, rows: "5", class: "w-full px-4 py-3 rounded-lg mt-2 border focus:border-gray-500 focus:outline-none autofill:bg-white", ":disabled": "submenu !== 'deactivate'" %>
    </div>
    <div class="mb-4 space-x-4">
      <%= image_tag "icons/warning.svg", class: "w-5 inline-block", alt: "" %>
      <p class="inline-block mt-2 font-bold text-md">Warning!</p>
    </div>
    <p class="inline-block mt-2 text-gray-500 font-sm text-md">Your portfolio will no longer be accessible</p>
    <p class="inline-block mt-2 text-gray-500 font-sm text-md">Others can claim your custom URL if you close your account</p>
  </div>
</div>
<input type="hidden" name="from_url" value="<%= settings_path(tab: "manage_account", submenu: "deactivate") %>" :disabled="submenu !== 'deactivate'">
