<div class="flex flex-1">
  <div class="w-full -mt-14 md:-mt-20">
    <div class="relative w-20 h-20 mx-auto rounded-full md:h-28 md:w-28 avatar">
      <% form2_id = dom_id(user, "avatar") %>
      <%= form_for(user, url: profile_users_path, html: { method: :put, id: form2_id  }, remote: true, authenticity_token: true) do |f| %>
        <%= f.label :avatar, class: "cursor-pointer" do %>
          <div class="relative">
            <% if user.avatar.attached? %>
              <%= image_tag user.avatar_thumb || default_avatar, class: "md rounded-full h-20 w-20 md:h-28 md:w-28 relative", alt: user.full_name %>
            <% elsif current_user.static_avatar_url.present? %>
              <%= image_tag user.static_avatar_url, class: "md rounded-full h-20 w-20 md:h-28 md:w-28 relative", alt: user.full_name %>
            <% else %>
              <%= image_tag "icons/avatar.svg", class: "md rounded-full h-20 w-20 md:h-28 md:w-28 relative", alt: "" %>
            <% end %>
            <div class="absolute w-6 h-6 right-1 inset-y-3/4">
              <%= image_tag "icons/attached_background.png", class: "w-6 h-6 mx-auto", alt: "" %>
            </div>
            <%= f.file_field :avatar, class: "hidden", "x-on:change": "document.getElementById('#{form2_id}').submit()" %>
            <%= f.submit "", class: "hidden" %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
