<ul class="mb-20 space-y-3 list-none" x-show="tab === 'contact'">
  <li class="p-2 border border-gray-200 md:py-4 md:mt-3 md:border-l-0 md:border-r-0">
    <%= turbo_stream_from "phone" %>
    <%= render partial: "components/phone/view", locals: { user: current_user } %>
  </li>
  <li class="p-2 border border-gray-200 md:py-4 md:border-l-0 md:border-r-0 md:border-t-0">
    <%= turbo_stream_from "language" %>
    <%= render partial: "components/language/view", locals: { user: current_user } %>
  </li>
  <li class="p-2 border border-gray-200 md:py-4 md:border-l-0 md:border-r-0 md:border-t-0">
    <%= turbo_stream_from "address" %>
    <%= render partial: "components/address/view", locals: { user: current_user } %>
  </li>
  <li class="p-2 border border-gray-200 md:pt-4 md:border-t-0 md:border-l-0 md:border-r-0">
    <%= turbo_stream_from "availability" %>
    <%= render partial: "components/availability/view", locals: { user: current_user } %>
  </li>
</ul>
