<ul class="mb-20 list-none" x-show="tab === 'contact'">
  <li>
    <div class="flex justify-center justify-between py-4 mt-3 w-full border-t border-b">
      <div>
        <h2 class="pb-4 leading-3 text-normal">Phone</h2>
        <p class="text-sm font-medium text-gray-400 leading-2">What number can clients contact you at?</p>
      </div>
      <div class="flex items-center">
        <%= link_to "Edit", "#", class: "text-blue-500 text-sm"%>
      </div>
    </div>
  </li>
  <li>
    <div class="flex justify-center justify-between py-4 w-full border-b">
      <div>
        <h2 class="pb-4 leading-3 text-normal">Address</h2>
        <p class="text-sm font-medium text-gray-400 leading-2">Where is your salon located?</p>
      </div>
      <div class="flex items-center">
        <%= link_to "Edit", "#", class: "text-blue-500 text-sm"%>
      </div>
    </div>
  </li>
  <li>
    <div class="flex justify-center justify-between py-4 w-full border-b">
      <div>
        <h2 class="pb-4 leading-3 text-normal">Social Media</h2>
        <p class="text-sm font-medium text-gray-400 leading-2">Where else can clients get to know you (i.e. instagram)?</p>
      </div>
      <div class="flex items-center">
        <%= link_to "Edit", "#", class: "text-blue-500 text-sm"%>
      </div>
    </div>
  </li>
  <li>
    <div class="flex justify-center justify-between py-4 w-full border-b">
      <div>
        <h2 class="pb-4 leading-3 text-normal">Availability</h2>
        <p class="text-sm font-medium text-gray-400 leading-2">When are you available to clients?</p>
      </div>
      <div class="flex items-center">
        <%= link_to "Edit", "#", class: "text-blue-500 text-sm"%>
      </div>
    </div>
  </li>
  <li>
    <div class="flex justify-center justify-between py-4 w-full border-b">
      <div>
        <h2 class="pb-4 leading-3 text-normal">Languages</h2>
        <p class="text-sm font-medium text-gray-400 leading-2">What languages do you provide services in?</p>
      </div>
      <div class="flex items-center">
        <%= link_to "Edit", "#", class: "text-blue-500 text-sm"%>
      </div>
    </div>
  </li>
</ul>
