<header class="z-50 w-full bg-white md:border-b h-16 md:h-20 dark:border-gray-700" x-data="{ mobileMenuOpen : false }">
  <nav class="px-4 py-3 mx-auto space-y-4 max-w-screen-2xl md:flex md:justify-between md:items-center md:py-5 md:space-y-0 md:space-x-10">
    <div class="flex justify-between">
      <%= render "shared/logo" %>
      <div class="md:hidden">
        <% if user_signed_in? %>
          <%= render partial: "shared/profile_menu", locals: {user: current_user} %>
        <% else %>
          <%= link_to "Log In", new_user_session_path, class: "ext-center block border border-blue-500 text-white bg-blue-500 hover:bg-blue-700 hover:text-white px-4 py-2 rounded-md text-xs font-medium" %>
        <% end %>
      </div>
    </div>
    <div class="items-center justify-end hidden md:flex">
      <div class="flex flex-col space-y-4 md:flex-row md:items-center md:space-y-0 md:space-x-4">
        <% if user_signed_in? %>
          <div class="relative ml-3">
            <div class="flex flex-col space-y-3 md:flex-row md:items-center md:space-y-0 md:space-x-6 xl:space-x-8">
              <%= render "shared/menu" unless current_user.admin? %>
              <%= render partial: "shared/profile_menu", locals: {user: current_user} %>
            </div>
          </div>
        <% else %>
          <%= link_to "Log In", new_user_session_path, class: "ext-center block py-2 rounded-md text-sm font-medium text-blue-500 hover:text-blue-700" %>
          <%= link_to "Sign Up", new_user_registration_path, class: "ext-center block border border-blue-500 text-white bg-blue-500 hover:bg-blue-700 hover:text-white px-4 py-2 rounded-md text-sm font-medium" %>
        <% end %>
      </div>
    </div>
  </nav>
</header>
<% unless current_user.present? && current_user.admin? || (current_user.nil? && action_name == "index" && controller_name == "home") %>
<div id="bottomMenu" x-data="{ bottomMenu : true }" class="md:hidden" x-show="bottomMenu">
  <div class="fixed bottom-0 z-10 flex flex-row justify-between w-full p-2 bg-white border-t z-20">
    <%= render "shared/menu" %>
  </div>
</div>
<% end %>
