<title><%= content_for?(:page_title) ? yield(:page_title) : "Salon House" %></title>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
<%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preload" href="https://fonts.googleapis.com/icon?family=Material+Icons" as="style">
<link rel="preload" href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;500&display=swap" as="style">
<link rel="preload" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap" as="style">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap" rel="stylesheet">
<link rel="icon" type="image/png" href="/favicon.png"/>
<link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />
<%= display_meta_tags site: "Salon House" %>
<%= canonical_tag -%>
<% set_meta_tags title: "Salon House",
                 description: "",
                 keywords: "Hairstyle, barbershop" %>
<%= yield :head %>
<%= turbo_include_tags %>
<meta name="referrer" content="no-referrer-when-downgrade">
<meta name="robots" content="index">
<% #= stimulus_include_tags %>
<!-- Global site tag (gtag.js) - Google Analytics -->
