<header class="z-50 w-full bg-white border-b md:h-20 dark:bg-gray-900 dark:border-gray-700" x-data="{ mobileMenuOpen : false }">
  <nav class="py-3 px-4 mx-auto space-y-4 max-w-screen-2xl md:flex md:justify-between md:items-center md:py-5 md:space-y-0 md:space-x-10">
    <div class="flex justify-between">
      <%= render "shared/logo" %>
      <div class="md:hidden">
        <% if user_signed_in? %>
          <%= render partial: "shared/profile_menu", locals: {current_user: current_user} %>
        <% else %>
          <%= link_to "Log In", new_user_session_path, class: "ext-center block border border-blue-500 text-white bg-blue-500 hover:bg-blue-700 hover:text-white px-4 py-2 rounded-md text-xs font-medium" %>
        <% end %>
      </div>
    </div>
    <div class="hidden justify-end items-center md:flex">
      <div class="flex flex-col space-y-4 md:flex-row md:items-center md:space-y-0 md:space-x-4">
        <% if user_signed_in? %>
          <!-- Profile dropdown -->
          <div class="relative ml-3">
            <div class="flex flex-col space-y-3 md:flex-row md:items-center md:space-y-0 md:space-x-6 xl:space-x-8">
              <% if current_user.confirmed? %>
                <%= link_to root_url, class: "text-sm text-center text-gray-500 hover:text-blue-500 px-2 #{ "text-blue-500" if controller_name == "home"}" do %>
                  <svg xmlns="http://www.w3.org/2000/svg" class="mx-auto w-5 h-5" fill="<%= controller_name == "home" ? "#3374DE" : "none" %>" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z" />
                  </svg>
                  Portfolio
                <% end %>
                <%= link_to new_portfolio_path, class: "text-sm text-center text-gray-500 hover:text-blue-500 px-2 #{ "text-blue-500" if controller_name == "portfolios"}" do %>
                  <svg xmlns="http://www.w3.org/2000/svg" class="mx-auto w-5 h-5" <%= controller_name == "portfolios" ? 'fill=#3374DE stroke=white' : 'fill=none stroke=currentColor' %> viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                  </svg>
                  Upload
                <% end %>
                <%= link_to settings_path, class: "text-sm text-center text-gray-500 hover:text-blue-500 px-2 #{ "text-blue-500" if controller_name == "users"}" do %>
                  <% if controller_name == "users" %>
                    <svg xmlns="http://www.w3.org/2000/svg" class="mx-auto w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
                      <path fill-rule="evenodd" d="M11.49 3.17c-.38-1.56-2.6-1.56-2.98 0a1.532 1.532 0 01-2.286.948c-1.372-.836-2.942.734-2.106 2.106.54.886.061 2.042-.947 2.287-1.561.379-1.561 2.6 0 2.978a1.532 1.532 0 01.947 2.287c-.836 1.372.734 2.942 2.106 2.106a1.532 1.532 0 012.287.947c.379 1.561 2.6 1.561 2.978 0a1.533 1.533 0 012.287-.947c1.372.836 2.942-.734 2.106-2.106a1.533 1.533 0 01.947-2.287c1.561-.379 1.561-2.6 0-2.978a1.532 1.532 0 01-.947-2.287c.836-1.372-.734-2.942-2.106-2.106a1.532 1.532 0 01-2.287-.947zM10 13a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd" />
                    </svg>
                  <% else %>
                    <svg xmlns="http://www.w3.org/2000/svg" class="mx-auto w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                    </svg>
                  <% end %>
                  Settings
                <% end %>
              <% end %>
              <%= render partial: "shared/profile_menu", locals: {current_user: current_user} %>
            </div>
          <% else %>
            <%= link_to "Log In", new_user_session_path, class: "ext-center block py-2 rounded-md text-sm font-medium text-blue-500 hover:text-blue-700" %>
            <%= link_to "Sign Up", new_user_registration_path, class: "ext-center block border border-blue-500 text-white bg-blue-500 hover:bg-blue-700 hover:text-white px-4 py-2 rounded-md text-sm font-medium" %>
          <% end %>
        </div>
      </div>
    </nav>
  </header>
