<style>
  input + label.ediable {
    position: relative;
  }
  input[type="checkbox"] + label.ediable span {
    background: url('<%= image_url("icons/unselected-checkbox.svg") %>') top left no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 45px;
    height: 45px;
    position: absolute;
    top:10px;
    left:10px;
    z-index: 10;
  }
  input[type="checkbox"]:checked + label.ediable span {
    background: url('<%= image_url("icons/selected-checkbox.svg") %>') top left no-repeat;
  }
</style>
<% if current_user.portfolios.published.empty? %>
  <div class="flex items-center flex-1">
    <div class="py-12 mx-auto">
      <p class="mb-4 text-sm text-center text-gray-500">
        Your portfolio is empty
      </p>
      <% portfolio = current_user.portfolios.new %>
      <% form_id = dom_id(portfolio, "pictures") %>
      <%= form_for(portfolio, url: portfolios_path, html: { method: :post, id: form_id }) do |f| %>
        <%= f.label :pictures do %>
          <span class="px-4 py-2 text-indigo-500 bg-white border border-indigo-500 rounded-md hover:text-white hover:bg-indigo-500">Upload Your First Photo</span>
          <%= f.file_field :pictures, multiple: true, accept: "image/*", class: "hidden", onchange: "document.getElementById('#{form_id}').submit()" %>
          <%= f.submit "Submit", class: "hidden" %>
        <% end %>
      <% end %>
    </div>
  </div>
<% else %>
  <div x-data="{ imgModal : false, imgModalSrc : '', hairLength: '', imgModalDesc : [], imgModalServiceTypes: [],  imgModalHairTypes: [], editUrl: '#', deleteUrl: '#'}">
    <template @img-modal.window="imgModal = true; imgModalSrc = $event.detail.imgModalSrc; imgModalDesc = $event.detail.imgModalDesc; imgModalServiceTypes = $event.detail.imgModalServiceTypes; imgModalHairTypes = $event.detail.imgModalHairTypes;  editUrl = $event.detail.editUrl;  deleteUrl = $event.detail.deleteUrl; hairLength = $event.detail.hairLength; " x-if="imgModal">
      <div x-on:click.away="imgModalSrc = ''" 
        class="fixed inset-0 z-50 flex items-center justify-center w-full p-2 overflow-hidden h-100" style="backdrop-filter: blur(21px);background: rgba(0, 0, 0, 0.4);">
        <div @click.away="imgModal = ''" class="flex flex-col max-w-4xl max-h-full overflow-auto">
          <div class="flex flex-row overflow-hidden bg-white rounded-2xl" style="max-width: 874px;">
            <div class="px-3 py-5 overflow-y-scroll" style="max-width:375px;max-height: 499px">
              <div class="flex">
                <a :href="editUrl" class="px-5 py-1 text-sm text-blue-500 border border-blue-500 rounded">Edit</a>
              </div>
              <ul class="my-3 space-y-3 list-none">
                <li class="p-2 border border-gray-200 md:py-4 md:mt-3">
                  <h2 class="hidden pb-2 leading-3 md:b-4 text-normal md:block">Description</h2>
                  <template x-for="(desc, index) in imgModalDesc">
                    <p x-text="desc" class="text-xs font-medium text-center text-gray-500 md:text-left md:text-sm leading-2"></p>
                  </template>
                </li>
                <li class="p-2 border border-gray-200 md:py-4 md:mt-3">
                  <h2 class="hidden pb-2 leading-3 md:b-4 text-normal md:block">Services Provided</h2>
                  <ul class="flex flex-wrap">
                    <template x-for="(service, index) in imgModalServiceTypes">
                      <li class="mt-2 mr-2"><span class="block px-3 py-1 text-sm border border-gray-200 rounded-full" x-text="service"></span></li>
                    </template>
                  </ul>
                </li>
                <li class="p-2 border border-gray-200 md:py-4 md:mt-3">
                  <h2 class="hidden pb-2 leading-3 md:b-4 text-normal md:block">Hair Type</h2>
                  <ul class="flex flex-wrap">
                    <template x-for="(hairType, index) in imgModalHairTypes">
                      <li class="mt-2 mr-2"><span class="block px-3 py-1 text-sm border border-gray-200 rounded-full" x-text="hairType"></span></li>
                    </template>
                  </ul>
                </li>
                <li class="p-2 border border-gray-200 md:py-4 md:mt-3">
                  <h2 class="hidden pb-2 leading-3 md:b-4 text-normal md:block">Hair length</h2>
                  <span class="px-3 py-1 text-sm border border-gray-200 rounded-full" x-text="hairLength"></span>
                </li>
              </ul>
              <div class="flex flex-col">
                <a :href="deleteUrl" data-confirm="Are you sure?" class="block px-3 py-2 text-sm text-center text-red-500" rel="nofollow" data-method="delete">Delete</a>
              </div>
            </div>
            <div class="flex items-center" style="max-width:499px">
              <img :alt="imgModalSrc" class="object-contain" :src="imgModalSrc">
            </div>
          </div>
        </div>
      </div>
    </template>
  </div>
  <%= form_for(:portfolio_pictures, url: destroy_pictures_portfolios_path, html: {method: :delete, id: id}) do |f| %>
    <div class="grid grid-cols-2 gap-px mb-20 md:gap-1.5 md:grid-cols-3 lg:grid-cols-4">
      <% current_user.portfolios.published.with_attached_pictures.order(created_at: :desc).each do |portfolio| %>
        <% portfolio.pictures.each do |p| %>
          <%= check_box_tag "pictures_ids[]", p.id, false, id: dom_id(p), class: "hidden", ":disabled": "!manage" %>
          <label for="<%= dom_id(p) %>" :class="{ 'ediable' : manage}">
            <span></span>
            <a @click="$dispatch('img-modal', {  
              imgModalSrc: '<%= picture_only_url(p) %>', 
              imgModalDesc: [<%= portfolio.description.split(%r{\r\n}).map{|desc| "'#{desc}'"}.join(',') %>], 
          imgModalServiceTypes: [<%= portfolio.service_types.map{|s| "'#{s.name}'"}.join(',') %>],
          imgModalHairTypes: [<%= portfolio.hair_types.map{|s| "'#{s.name}'"}.join(',') %>],
          hairLength: '<%= portfolio.hair_length&.humanize %>',
          editUrl: '<%= edit_portfolio_path(portfolio) %>',
          deleteUrl: '<%= portfolio_path(portfolio) %>',
          })" class="cursor-pointer" :disabled="manage">
              <%= image_tag thumb_url(p), class: "md:rounded md:w-50 md:h-50 mx-auto",  ":class": "{ 'filter brightness-50 grayscale contrast-200' : manage }" %>
            </a>
          </label>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>
