<style>
  input + label.ediable {
    position: relative;
  }
  input[type="checkbox"] + label.ediable span {
    background: url('<%= image_url("icons/unselected.png") %>') top left no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 45px;
    height: 45px;
    position: absolute;
    top:10px;
    left:10px;
    z-index: 10;
  }
  input[type="checkbox"]:checked + label.ediable span {
    background: url('<%= image_url("icons/selected-checkbox.png") %>') top left no-repeat;
  }
</style>
<% if current_user.portfolios.published.empty? %>
  <div class="flex items-center min-h-full">
    <div class="py-12 mx-auto">
      <p class="mb-4 text-sm text-center text-gray-500">
        Your portfolio is empty
      </p>
      <% portfolio = current_user.portfolios.new %>
      <% form_id = dom_id(portfolio, "pictures") %>
      <%= form_for(portfolio, url: portfolios_path, html: { method: :post, id: form_id }) do |f| %>
        <%= f.label :pictures do %>
          <span class="px-4 py-2 text-indigo-500 bg-white border border-indigo-500 rounded-md hover:text-white hover:bg-indigo-500">Upload Your First Photo</span>
          <%= f.file_field :pictures, multiple: true, accept: "image/*", class: "hidden", onchange: "document.getElementById('#{form_id}').submit()" %>
          <%= f.submit "Submit", class: "hidden" %>
        <% end %>
      <% end %>
    </div>
  </div>
<% else %>
  <%= form_for(:portfolio_pictures, url: destroy_pictures_portfolios_path, html: {method: :delete, id: id}) do |f| %>
    <div class="grid grid-cols-3 gap-4 md:grid-cols-4">
      <% current_user.portfolios.published.with_attached_pictures.each do |p| %>
        <% p.pictures.each do |p| %>
          <%= check_box_tag "pictures_ids[]", p.id, false, id: dom_id(p), class: "hidden" %>
          <label for="<%= dom_id(p) %>" :class="{ 'ediable' : manage}">
            <span></span>
            <%= image_tag p, ":class": "{ 'filter brightness-50 grayscale contrast-200' : manage }" %>
          </label>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>
