<%= turbo_stream_from "background" %>
<%= render partial: "components/background/view", locals: {user: user, editable: editable} %>
<div class="px-3 pt-4 md:px-0">
  <div class="relative flex w-full md:flex-row md:-mt-0 md:border-none" :class="{'flex-col -mt-20 bg-white border mb-2 rounded-md': tab == 'profile' || tab == 'contact'}">
    <!-- Avatar -->
    <div class="md:w-1/3" :class="{'w-full': tab == 'profile' || tab == 'contact', 'w-1/2': tab == 'portfolio'}">
      <%= turbo_stream_from "avatar" %>
      <%= render partial: "components/avatar/view", locals: {user: user, editable: editable} %>
      <div class="justify-center p-2 pt-5 md:mx-auto" :class="{'mx-auto': tab == 'profile' || tab == 'contact'}">
        <h2 class="leading-6 text-sm md:text-base md:text-left whitespace-nowrap roboto-font font-medium capitalize" :class="{'text-center': tab == 'profile' || tab == 'contact'}">
          <%= user.full_name %>
          <% if user.pronoun.present? %>
          <span style="font-size: 13px" class="font-light roboto-font"><%= "(#{user.pronoun})" %></span>
          <% end %>
        </h2>
        </h2>
        <p style="color: rgba(0, 0, 0, 0.6)" class="text-xs font-medium leading-5 md:text-left roboto-font" :class="{'text-center': tab == 'profile' || tab == 'contact'}"><%= user.job %></p>

        <p style="color: rgba(0, 0, 0, 0.6)" class="text-xs font-medium leading-5 md:text-left roboto-font" :class="{'text-center': tab == 'profile' || tab == 'contact'}">
          <%= render partial: "addresses/short_address", locals: { address: user.address || user.build_address, user: current_user } %>
        </p>
        <div class="md:hidden" x-show="tab == 'profile'">
          <div class="w-full" x-data="{ edit : false }">
            <%= turbo_stream_from "bio" %>
            <%= render partial: "components/bio/view", locals: {user: user, editable: editable, bio: "bioMobile"} %>
          </div>
        </div>
      </div>
    </div>
    <!-- Follow Button -->
    <div class="flex flex-col text-right md:w-2/3" :class="{'hidden md:block' : tab == 'profile', 'w-1/2' : tab == 'portfolio' }">
      <div class="" :class="{'hidden md:block' : tab == 'profile', 'hidden' : tab == 'contact'}">
        <%= render partial: "shared/share", locals: { share_title: user.full_name, share_link: user.url, share_desc: user.bio, share_image: user.avatar_thumb || user.static_avatar_url || default_avatar } %>
      </div>
      <div class="mb-4 text-center flex md:justify-end justify-center">
        <%= render partial: "shared/promo_section", locals: {user: user, editable: editable} %>
      </div>
    </div>
  </div>
  <%= render partial: "shared/profile_section", locals: {user: user, editable: editable} %>
  <%= render partial: "shared/contact_section", locals: {user: user, editable: editable} %>
</div>
