<div class="flex flex-wrap content-center w-full bg-center bg-no-repeat bg-cover rounded-lg" style="height: 200px; background-color: #4F4F4E;">
  <div class="flex flex-col w-full">
    <%= image_tag "icons/background.png", class: "w-6 h-6 mx-auto" %>
    <p class="text-sm text-center text-white">Add Cover Photo</p>
  </div>
</div>
<div class="p-4">
  <div class="flex relative w-full">
    <!-- Avatar -->
    <div class="flex flex-1">
      <div style="margin-top: -5rem;">
        <div style="height:7rem; width:7rem;" class="relative rounded-full avatar md">
          <%= image_tag "icons/avatar.png", style: "height:7rem; width:7rem;", class: "md rounded-full relative" %>
          <div class="absolute"></div>
        </div>
      </div>
    </div>
    <!-- Follow Button -->
    <div class="flex flex-col text-right">
      <button class="flex justify-center items-center py-2 px-4 mr-0 ml-auto max-w-max font-bold text-black whitespace-nowrap bg-transparent bg-yellow-200 rounded-md border hover:bg-yellow-500 hover:shadow-lg max-h-max">
        <%= image_tag "icons/share.png", class: "w-4 mr-2" %>
        Share
      </button>
    </div>
  </div>
  <div class="justify-center py-2 mb-12 ml-3 w-full">
    <h2 class="text-xl leading-6"><%= user.full_name %></h2>
    <p class="text-sm font-medium leading-5 text-gray-600"><%= user.role.humanize %></p>
  </div>
  <ul class="mb-20 list-none" x-show="tab === 'profile'">
    <li>
      <div class="flex justify-center justify-between py-4 mt-3 w-full border-t border-b">
        <div>
          <h2 class="pb-4 leading-3 text-normal">Bio</h2>
          <p class="text-sm font-medium text-gray-400 leading-2">Describe who you are</p>
        </div>
        <div class="flex items-center">
          <%= link_to "Edit", "#", class: "text-blue-500 text-sm"%>
        </div>
      </div>
    </li>
    <li>
      <div class="flex justify-center justify-between py-4 w-full border-b">
        <div>
          <h2 class="pb-4 leading-3 text-normal">Specialties</h2>
          <p class="text-sm font-medium text-gray-400 leading-2">What are you an expert at? (i.e. fades, curly hair, etc)</p>
        </div>
        <div class="flex items-center">
          <%= link_to "Edit", "#", class: "text-blue-500 text-sm"%>
        </div>
      </div>
    </li>
    <li>
      <div class="flex justify-center justify-between py-4 w-full border-b">
        <div>
          <h2 class="pb-4 leading-3 text-normal">Experience</h2>
          <p class="text-sm font-medium text-gray-400 leading-2">When did you start doing hair?</p>
        </div>
        <div class="flex items-center">
          <%= link_to "Edit", "#", class: "text-blue-500 text-sm"%>
        </div>
      </div>
    </li>
    <li>
      <div class="flex justify-center justify-between py-4 w-full border-b">
        <div>
          <h2 class="pb-4 leading-3 text-normal">Salon Services</h2>
          <p class="text-sm font-medium text-gray-400 leading-2">What services do you offer (i.e. brow shaping, color, etc)</p>
        </div>
        <div class="flex items-center">
          <%= link_to "Edit", "#", class: "text-blue-500 text-sm"%>
        </div>
      </div>
    </li>
    <li>
      <div class="flex justify-center justify-between py-4 w-full border-b">
        <div>
          <h2 class="pb-4 leading-3 text-normal">Education</h2>
          <p class="text-sm font-medium text-gray-400 leading-2">Where did you learn to do hair?</p>
        </div>
        <div class="flex items-center">
          <%= link_to "Edit", "#", class: "text-blue-500 text-sm"%>
        </div>
      </div>
    </li>
  </ul>
  <ul class="mb-20 list-none" x-show="tab === 'contact'">
    <li>
      <div class="flex justify-center justify-between py-4 mt-3 w-full border-t border-b">
        <div>
          <h2 class="pb-4 leading-3 text-normal">Phone</h2>
          <p class="text-sm font-medium text-gray-400 leading-2">What number can clients contact you at?</p>
        </div>
        <div class="flex items-center">
          <%= link_to "Edit", "#", class: "text-blue-500 text-sm"%>
        </div>
      </div>
    </li>
    <li>
      <div class="flex justify-center justify-between py-4 w-full border-b">
        <div>
          <h2 class="pb-4 leading-3 text-normal">Address</h2>
          <p class="text-sm font-medium text-gray-400 leading-2">Where is your salon located?</p>
        </div>
        <div class="flex items-center">
          <%= link_to "Edit", "#", class: "text-blue-500 text-sm"%>
        </div>
      </div>
    </li>
    <li>
      <div class="flex justify-center justify-between py-4 w-full border-b">
        <div>
          <h2 class="pb-4 leading-3 text-normal">Social Media</h2>
          <p class="text-sm font-medium text-gray-400 leading-2">Where else can clients get to know you (i.e. instagram)?</p>
        </div>
        <div class="flex items-center">
          <%= link_to "Edit", "#", class: "text-blue-500 text-sm"%>
        </div>
      </div>
    </li>
    <li>
      <div class="flex justify-center justify-between py-4 w-full border-b">
        <div>
          <h2 class="pb-4 leading-3 text-normal">Availability</h2>
          <p class="text-sm font-medium text-gray-400 leading-2">When are you available to clients?</p>
        </div>
        <div class="flex items-center">
          <%= link_to "Edit", "#", class: "text-blue-500 text-sm"%>
        </div>
      </div>
    </li>
    <li>
      <div class="flex justify-center justify-between py-4 w-full border-b">
        <div>
          <h2 class="pb-4 leading-3 text-normal">Languages</h2>
          <p class="text-sm font-medium text-gray-400 leading-2">What languages do you provide services in?</p>
        </div>
        <div class="flex items-center">
          <%= link_to "Edit", "#", class: "text-blue-500 text-sm"%>
        </div>
      </div>
    </li>
  </ul>
</div>
