<ul class="mb-20 list-none" x-show="tab === 'profile'">
  <li>
    <div class="flex justify-center justify-between py-4 mt-3 w-full border-t border-b">
      <div>
        <h2 class="pb-4 leading-3 text-normal">Bio</h2>
        <p class="text-sm font-medium text-gray-400 leading-2">Describe who you are</p>
      </div>
      <div class="flex items-center">
        <%= link_to "Edit", "#", class: "text-blue-500 text-sm"%>
      </div>
    </div>
  </li>
  <li>
    <div class="flex justify-center justify-between py-4 w-full border-b">
      <div>
        <h2 class="pb-4 leading-3 text-normal">Specialties</h2>
        <p class="text-sm font-medium text-gray-400 leading-2">What are you an expert at? (i.e. fades, curly hair, etc)</p>
      </div>
      <div class="flex items-center">
        <%= link_to "Edit", "#", class: "text-blue-500 text-sm"%>
      </div>
    </div>
  </li>
  <li>
    <div class="flex justify-center justify-between py-4 w-full border-b">
      <div>
        <h2 class="pb-4 leading-3 text-normal">Experience</h2>
        <p class="text-sm font-medium text-gray-400 leading-2">When did you start doing hair?</p>
      </div>
      <div class="flex items-center">
        <%= link_to "Edit", "#", class: "text-blue-500 text-sm"%>
      </div>
    </div>
  </li>
  <li>
    <div class="flex justify-center justify-between py-4 w-full border-b">
      <div>
        <h2 class="pb-4 leading-3 text-normal">Salon Services</h2>
        <p class="text-sm font-medium text-gray-400 leading-2">What services do you offer (i.e. brow shaping, color, etc)</p>
      </div>
      <div class="flex items-center">
        <%= link_to "Edit", "#", class: "text-blue-500 text-sm"%>
      </div>
    </div>
  </li>
  <li>
    <div class="flex justify-center justify-between py-4 w-full border-b">
      <div>
        <h2 class="pb-4 leading-3 text-normal">Education</h2>
        <p class="text-sm font-medium text-gray-400 leading-2">Where did you learn to do hair?</p>
      </div>
      <div class="flex items-center">
        <%= link_to "Edit", "#", class: "text-blue-500 text-sm"%>
      </div>
    </div>
  </li>
</ul>
