<ul class="mb-40 list-none" x-show="tab === 'profile'">
  <li>
    <div class="flex justify-center py-4 mt-3 w-full border-t border-b border-gray-100" x-data="{ edit : false }">
      <div id="view_bio" class="flex justify-between w-full" x-show="!edit">
        <div>
          <h2 class="pb-4 leading-3 text-normal">Bio</h2>
          <p class="text-sm font-medium text-gray-500 leading-2">
            <% if current_user.has_bio? %>
              <%= current_user.bio %>
            <% else %>
              Describe who you are
            <% end %>
          </p>
        </div>
        <div class="flex items-top">
          <%= link_to "Edit", "#", class: "text-blue-500 text-sm", "@click.prevent": "edit = true" %>
        </div>
      </div>
      <div id="edit_bio" x-show="edit" class="p-2 w-full bg-gray-100">
        <% bio_form = dom_id(current_user, "bio") %>
        <%= render partial: "shared/forms/bio", locals: {user: current_user, url: profile_users_path, from_url: root_url, id: bio_form} %>
        <div class="pt-4 pb-2 text-right actions">
          <%= link_to "Cancel", "#", class: "text-gray-500 hover:bg-gray-500 hover:text-white lg:px-4 py-2 rounded-md text-sm font-medium", "@click.prevent": "edit = false" %>
          <%= submit_tag "Save", form: bio_form, class: "bg-blue-500 text-white hover:bg-blue-700 px-4 py-2 rounded-md text-sm font-medium" %>
        </div>
      </div>
    </div>
  </li>
  <li>
    <div class="flex justify-center py-4 w-full border-b border-gray-100" x-data="{ edit : false }">
      <div id="view_specialties" class="flex justify-between w-full" x-show="!edit">
        <div >
          <h2 class="pb-4 leading-3 text-normal">Specialties</h2>
          <p class="text-sm font-medium text-gray-500 leading-2">
            <% if current_user.has_specialties? %>
              <ul class="flex flex-wrap">
                <% current_user.specialties.each do |specialty| %>
                  <li class="mr-4 mb-6">
                    <span class="p-2 text-sm rounded-full border border-gray-200">
                      <%= specialty.name %>
                    </span>
                  </li>
                <% end %>
              </ul>
            <% else %>
              What are you an expert at? (i.e. fades, curly hair, etc)
            <% end %>
          </p>
        </div>
        <div class="flex items-top">
          <%= link_to "Edit", "#", class: "text-blue-500 text-sm", "@click.prevent": "edit = true" %>
        </div>
      </div>
      <div id="edit_specialties" x-show="edit" class="p-2 w-full bg-gray-100">
        <% specialties_form = dom_id(current_user, "specialty") %>
        <%= render partial: "shared/forms/specialties", locals: {user: current_user, url: profile_users_path, from_url: root_url, id: specialties_form} %>
        <div class="pt-4 pb-2 text-right actions">
          <%= link_to "Cancel", "#", class: "text-gray-500 hover:bg-gray-500 hover:text-white lg:px-4 py-2 rounded-md text-sm font-medium", "@click.prevent": "edit = false" %>
          <%= submit_tag "Save", form: specialties_form, class: "bg-blue-500 text-white hover:bg-blue-700 px-4 py-2 rounded-md text-sm font-medium" %>
        </div>
      </div>
    </div>
  </li>
  <li>
    <div class="flex justify-center py-4 w-full border-b border-gray-100" x-data="{ edit : false }">
      <div id="view_experience" class="flex justify-between w-full" x-show="!edit">
        <div>
          <h2 class="pb-4 leading-3 text-normal">Experience</h2>
          <p class="text-sm font-medium text-gray-500 leading-2">
            <% if current_user.has_started_at? %>
              <span class="capitalize">
                <%= distance_of_time_in_words_to_now(current_user.started_at) %>
              </span>
            <% else %>
              When did you start doing hair?
            <% end %>
          </p>
        </div>
        <div class="flex items-top">
          <%= link_to "Edit", "#", class: "text-blue-500 text-sm", "@click.prevent": "edit = true" %>
        </div>
      </div>
      <div id="edit_experience" x-show="edit" class="p-2 w-full bg-gray-100">
        <% experience_form = dom_id(current_user, "experience") %>
        <%= render partial: "shared/forms/experience", locals: {user: current_user, url: profile_users_path, from_url: root_url, id: experience_form} %>
        <div class="pt-4 pb-2 text-right actions">
          <%= link_to "Cancel", "#", class: "text-gray-500 hover:bg-gray-500 hover:text-white lg:px-4 py-2 rounded-md text-sm font-medium", "@click.prevent": "edit = false" %>
          <%= submit_tag "Save", form: experience_form, class: "bg-blue-500 text-white hover:bg-blue-700 px-4 py-2 rounded-md text-sm font-medium" %>
        </div>
      </div>
    </div>
  </li>
  <li>
    <div class="flex justify-center py-4 w-full border-b border-gray-100" x-data="{ edit : false }">
      <div id="view_service" class="flex justify-between w-full" x-show="!edit">
        <div>
          <h2 class="pb-4 mt-2 leading-3 text-normal">Salon Services</h2>
          <p class="text-sm font-medium text-gray-500 leading-2">
            <% if current_user.has_services? %>
              <ul class="flex flex-wrap">
                <% current_user.services.each do |service| %>
                  <li class="mr-4 mb-6">
                    <span class="p-2 text-sm rounded-full border border-gray-200">
                      <%= service.name %>
                    </span>
                  </li>
                <% end %>
              </ul>
            <% else %>
              What services do you offer (i.e. brow shaping, color, etc)
            <% end %>
          </p>
        </div>
        <div class="flex items-top">
          <%= link_to "Edit", "#", class: "text-blue-500 text-sm", "@click.prevent": "edit = true" %>
        </div>
      </div>
      <div id="edit_service" x-show="edit" class="p-2 w-full bg-gray-100">
        <% service_form = dom_id(current_user, "service") %>
        <%= render partial: "shared/forms/services", locals: {user: current_user, url: profile_users_path, from_url: root_url, id: service_form} %>
        <div class="pt-4 pb-2 text-right actions">
          <%= link_to "Cancel", "#", class: "text-gray-500 hover:bg-gray-500 hover:text-white lg:px-4 py-2 rounded-md text-sm font-medium", "@click.prevent": "edit = false" %>
          <%= submit_tag "Save", form: service_form, class: "bg-blue-500 text-white hover:bg-blue-700 px-4 py-2 rounded-md text-sm font-medium" %>
        </div>
      </div>
    </div>
  </li>
  <li>
    <div class="flex justify-center py-4 w-full border-b border-gray-100" x-data="{ edit : false }">
      <div id="view_education" class="flex justify-between w-full" x-show="!edit">
        <div>
          <h2 class="pb-4 leading-3 text-normal">Education</h2>
          <p class="text-sm font-medium text-gray-500 leading-2">
            <% if current_user.has_education? %>
              <%= current_user.education %>
            <% else %>
              Where did you learn to do hair?
            <% end %>
          </p>
        </div>
        <div class="flex items-top">
          <%= link_to "Edit", "#", class: "text-blue-500 text-sm", "@click.prevent": "edit = true" %>
        </div>
      </div>
      <div id="edit_education" x-show="edit" class="p-2 w-full bg-gray-100">
        <% education_form = dom_id(current_user, "education") %>
        <%= render partial: "shared/forms/education", locals: {user: current_user, url: profile_users_path, from_url: root_url, id: education_form} %>
        <div class="pt-4 pb-2 text-right actions">
          <%= link_to "Cancel", "#", class: "text-gray-500 hover:bg-gray-500 hover:text-white lg:px-4 py-2 rounded-md text-sm font-medium", "@click.prevent": "edit = false" %>
          <%= submit_tag "Save", form: education_form, class: "bg-blue-500 text-white hover:bg-blue-700 px-4 py-2 rounded-md text-sm font-medium" %>
        </div>
      </div>
    </div>
  </li>
  <li>
    <div class="flex justify-center py-4 w-full border-b border-gray-100" x-data="{ edit : false }">
      <div id="view_social_media" class="flex justify-between w-full" x-show="!edit">
        <div>
          <h2 class="pb-4 leading-3 text-normal">Social</h2>
          <p class="text-sm font-medium text-gray-500 leading-2">
            <% if current_user.has_social_media? %>
              <ul class="flex flex-wrap">
                <% current_user.social_media.each do |social| %>
                  <% next if social.url.blank? %>
                  <li class="mr-4 mb-6">
                    <%= link_to social.full_url, target: "_blank" do %>
                      <%= image_tag "icons/#{social.kind}.svg", class: "h-5" %>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            <% else %>
              you can share your social media accounts
            <% end %>
          </p>
        </div>
        <div class="flex items-top">
          <%= link_to "Edit", "#", class: "text-blue-500 text-sm", "@click.prevent": "edit = true" %>
        </div>
      </div>
      <div id="edit_education" x-show="edit" class="p-2 w-full bg-gray-100">
        <% social_media_form = dom_id(current_user, "social_media") %>
        <%= render partial: "shared/forms/social_media", locals: {user: current_user, url: profile_users_path, from_url: root_url, id: social_media_form} %>
        <div class="pt-4 pb-2 text-right actions">
          <%= link_to "Cancel", "#", class: "text-gray-500 hover:bg-gray-500 hover:text-white lg:px-4 py-2 rounded-md text-sm font-medium", "@click.prevent": "edit = false" %>
          <%= submit_tag "Save", form: social_media_form, class: "bg-blue-500 text-white hover:bg-blue-700 px-4 py-2 rounded-md text-sm font-medium" %>
        </div>
      </div>
    </div>
  </li>
</ul>
