<div class="flex flex-wrap content-center w-full bg-center bg-no-repeat bg-cover rounded-lg" style="height: 200px; background-color: #4F4F4E; <%=  "background-image: url(#{url_for(user.background)})" if user.background.attached? %>">
  <%= render partial: "shared/background_profile", locals: {user: user} %>
</div>
<div class="p-4">
  <div class="relative flex w-full">
    <!-- Avatar -->
    <%= render partial: "shared/avatar_profile", locals: {user: user} %>
    <!-- Follow Button -->
    <div class="flex flex-col text-right">
      <button class="flex items-center justify-center px-4 py-2 ml-auto mr-0 font-bold text-black bg-transparent rounded-md max-w-max whitespace-nowrap bg-yellow-light hover:bg-yellow-500 hover:shadow-lg max-h-max">
        <%= image_tag "icons/share.svg", class: "w-4 mr-2" %>
        Share
      </button>
    </div>
  </div>
  <div class="justify-center w-full py-2 mb-12 ml-3">
    <h2 class="text-xl leading-6">
      <%= user.full_name %><span class="pl-2 text-gray-500"><%= "(#{user.pronoun})" if user.pronoun.present? %></h2>
    </h2>
    <p class="text-sm font-medium leading-5 text-gray-500"><%= user.role.humanize %></p>
    <p class="text-sm font-medium leading-5 text-gray-500"><%= user.short_address %></p>
  </div>
  <%= render partial: "shared/profile_section", locals: {user: user} %>
  <%= render partial: "shared/contact_section", locals: {user: user} %>
</div>
