<div class="flex flex-wrap content-center w-full bg-center bg-no-repeat bg-cover rounded-lg" style="height: 200px; background-color: #4F4F4E; <%=  "background-image: url(#{url_for(user.background)})" if user.background.attached? %>">
  <div class="flex flex-col w-full">
    <% form_id = dom_id(user, "background") %>
    <%= form_for(user, url: profile_users_path, html: { method: :put, id: form_id  }) do |f| %>
      <%= f.label :background, class: "cursor-pointer" do %>
        <% if user.background.attached? %>
          <%= image_tag "icons/attached_background.png", class: "w-10 h-10 mx-auto" %>
        <% else %>
          <%= image_tag "icons/background.png", class: "w-6 h-6 mx-auto" %>
          <p class="text-sm text-center text-white">Add Cover Photo</p>
        <% end %>
        <%= f.file_field :background, class: "hidden", "x-on:change": "document.getElementById('#{form_id}').submit()" %>
        <%= f.submit "", class: "hidden" %>
      <% end %>
    <% end %>
  </div>
</div>
<div class="p-4">
  <div class="relative flex w-full">
    <!-- Avatar -->
    <div class="flex flex-1">
      <div style="margin-top: -5rem;">
        <div style="height:7rem; width:7rem;" class="relative rounded-full avatar md">
          <% form2_id = dom_id(user, "avatar") %>
          <%= form_for(user, url: profile_users_path, html: { method: :put, id: form2_id  }) do |f| %>
            <%= f.label :avatar, class: "cursor-pointer" do %>
              <% if user.avatar.attached? %>
                <%= image_tag user.avatar, style: "height:7rem; width:7rem;", class: "md rounded-full relative" %>
              <% else %>
                <%= image_tag "icons/avatar.png", style: "height:7rem; width:7rem;", class: "md rounded-full relative" %>
              <% end %>
              <div class="absolute">
              <%= image_tag "icons/attached_background.png", class: "w-4 h-4 mx-auto" %>
              </div>
              <%= f.file_field :avatar, class: "hidden", "x-on:change": "document.getElementById('#{form2_id}').submit()" %>
              <%= f.submit "", class: "hidden" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <!-- Follow Button -->
    <div class="flex flex-col text-right">
      <button class="flex items-center justify-center px-4 py-2 ml-auto mr-0 font-bold text-black bg-transparent bg-yellow-200 border rounded-md max-w-max whitespace-nowrap hover:bg-yellow-500 hover:shadow-lg max-h-max">
        <%= image_tag "icons/share.png", class: "w-4 mr-2" %>
        Share
      </button>
    </div>
  </div>
  <div class="justify-center w-full py-2 mb-12 ml-3">
    <h2 class="text-xl leading-6"><%= user.full_name %></h2>
    <p class="text-sm font-medium leading-5 text-gray-600"><%= user.role.humanize %></p>
  </div>
  <ul class="mb-20 list-none" x-show="tab === 'profile'">
    <li>
      <div class="flex justify-center justify-between w-full py-4 mt-3 border-t border-b">
        <div>
          <h2 class="pb-4 leading-3 text-normal">Bio</h2>
          <p class="text-sm font-medium text-gray-400 leading-2">Describe who you are</p>
        </div>
        <div class="flex items-center">
          <%= link_to "Edit", "#", class: "text-blue-500 text-sm"%>
        </div>
      </div>
    </li>
    <li>
      <div class="flex justify-center justify-between w-full py-4 border-b">
        <div>
          <h2 class="pb-4 leading-3 text-normal">Specialties</h2>
          <p class="text-sm font-medium text-gray-400 leading-2">What are you an expert at? (i.e. fades, curly hair, etc)</p>
        </div>
        <div class="flex items-center">
          <%= link_to "Edit", "#", class: "text-blue-500 text-sm"%>
        </div>
      </div>
    </li>
    <li>
      <div class="flex justify-center justify-between w-full py-4 border-b">
        <div>
          <h2 class="pb-4 leading-3 text-normal">Experience</h2>
          <p class="text-sm font-medium text-gray-400 leading-2">When did you start doing hair?</p>
        </div>
        <div class="flex items-center">
          <%= link_to "Edit", "#", class: "text-blue-500 text-sm"%>
        </div>
      </div>
    </li>
    <li>
      <div class="flex justify-center justify-between w-full py-4 border-b">
        <div>
          <h2 class="pb-4 leading-3 text-normal">Salon Services</h2>
          <p class="text-sm font-medium text-gray-400 leading-2">What services do you offer (i.e. brow shaping, color, etc)</p>
        </div>
        <div class="flex items-center">
          <%= link_to "Edit", "#", class: "text-blue-500 text-sm"%>
        </div>
      </div>
    </li>
    <li>
      <div class="flex justify-center justify-between w-full py-4 border-b">
        <div>
          <h2 class="pb-4 leading-3 text-normal">Education</h2>
          <p class="text-sm font-medium text-gray-400 leading-2">Where did you learn to do hair?</p>
        </div>
        <div class="flex items-center">
          <%= link_to "Edit", "#", class: "text-blue-500 text-sm"%>
        </div>
      </div>
    </li>
  </ul>
  <ul class="mb-20 list-none" x-show="tab === 'contact'">
    <li>
      <div class="flex justify-center justify-between w-full py-4 mt-3 border-t border-b">
        <div>
          <h2 class="pb-4 leading-3 text-normal">Phone</h2>
          <p class="text-sm font-medium text-gray-400 leading-2">What number can clients contact you at?</p>
        </div>
        <div class="flex items-center">
          <%= link_to "Edit", "#", class: "text-blue-500 text-sm"%>
        </div>
      </div>
    </li>
    <li>
      <div class="flex justify-center justify-between w-full py-4 border-b">
        <div>
          <h2 class="pb-4 leading-3 text-normal">Address</h2>
          <p class="text-sm font-medium text-gray-400 leading-2">Where is your salon located?</p>
        </div>
        <div class="flex items-center">
          <%= link_to "Edit", "#", class: "text-blue-500 text-sm"%>
        </div>
      </div>
    </li>
    <li>
      <div class="flex justify-center justify-between w-full py-4 border-b">
        <div>
          <h2 class="pb-4 leading-3 text-normal">Social Media</h2>
          <p class="text-sm font-medium text-gray-400 leading-2">Where else can clients get to know you (i.e. instagram)?</p>
        </div>
        <div class="flex items-center">
          <%= link_to "Edit", "#", class: "text-blue-500 text-sm"%>
        </div>
      </div>
    </li>
    <li>
      <div class="flex justify-center justify-between w-full py-4 border-b">
        <div>
          <h2 class="pb-4 leading-3 text-normal">Availability</h2>
          <p class="text-sm font-medium text-gray-400 leading-2">When are you available to clients?</p>
        </div>
        <div class="flex items-center">
          <%= link_to "Edit", "#", class: "text-blue-500 text-sm"%>
        </div>
      </div>
    </li>
    <li>
      <div class="flex justify-center justify-between w-full py-4 border-b">
        <div>
          <h2 class="pb-4 leading-3 text-normal">Languages</h2>
          <p class="text-sm font-medium text-gray-400 leading-2">What languages do you provide services in?</p>
        </div>
        <div class="flex items-center">
          <%= link_to "Edit", "#", class: "text-blue-500 text-sm"%>
        </div>
      </div>
    </li>
  </ul>
</div>
