<div x-data="{ profileMenu : false }">
  <button type="button" @click="profileMenu = true" @click.away="profileMenu = false"  class="flex text-sm bg-gray-800 rounded-full focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800 focus:outline-none" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
    <span class="sr-only">Open user menu</span>
    <% if user.avatar.attached? %>
      <%= image_tag user.avatar_thumb || default_avatar, class: "h-8 w-8 rounded-full", alt: user.full_name %>
    <% else %>
      <span class="inline-block w-8 h-8 overflow-hidden bg-gray-100 rounded-full">
        <svg class="w-full h-full text-gray-300" fill="currentColor" viewBox="0 0 24 24">
          <path d="M24 20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0 9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0 11-8 0 4 4 0 018 0z"></path>
        </svg>
      </span>
    <% end %>
  </button>
  <div x-show="profileMenu" class="absolute right-0 z-20 py-1 mt-2 origin-top-right bg-white rounded-lg shadow-lg w-72 ring-1 ring-black ring-opacity-5 group-hover:block focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
    <div class="flex items-center w-full px-4 pb-2">
      <% if user.avatar.attached? %>
        <%= image_tag user.avatar_thumb || default_avatar, class: "h-12 w-12 rounded-full", alt: user.full_name %>
      <% elsif current_user.static_avatar_url.present? %>
        <%= image_tag user.static_avatar_url, class: "h-12 w-12 rounded-full", alt: user.full_name %>
      <% else %>
        <span class="inline-block w-12 h-12 overflow-hidden bg-gray-100 rounded-full">
          <svg class="w-full h-full text-gray-300" fill="currentColor" viewBox="0 0 24 24">
            <path d="M24 20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0 9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0 11-8 0 4 4 0 018 0z"></path>
          </svg>
        </span>
      <% end %>
      <div class="pl-2">
        <h3 class="block py-2 text-sm text-gray-700"><%= user.full_name %></h3>
        <% if user.admin? %>
        <%= link_to "Admin Panel", admin_users_path, class: "text-xs text-gray-500" %>
        <% else %>
        <%= link_to user.url_without_http, user.url, target: "_blank", class: "text-xs text-gray-500" %>
        <% end %>
      </div>
    </div>
    <%= link_to('Sign Out', destroy_user_session_path, method: :delete, class: "block px-4 py-2 text-sm text-center text-gray-700 hover:text-red-500 border-t" ) %>
  </div>
</div>
