<div class="text-center flex flex-col relative">
  <%= image_tag "bg/mobile-01.webp", class: "md:hidden w-full", alt: "", width: "628px", height: "942px" %>
  <div class="absolute inset-0 md:relative">
    <div class="py-11 z-20">
      <h1 class="robot-font font-bold md:font-normal text-3xl md:text-5xl md:text-black text-white px-4">Create a free<br/>
      portfolio with Salon House</h1>
    </div>
    <div class="z-20 absolute md:relative bottom-10 md:bottom-auto inset-x-0 md:pb-10">
      <%= link_to "Create Account", new_user_registration_path, class: "rounded-3xl max-w-xs py-3 block mx-auto", style: "background: #FFDE03;" %>
    </div>
    <p class="roboto-font text-base z-20 hidden md:block" style="color: #3374DE;">Yup, it’s free!</p>
    <p class="roboto-font font-bold md:font-normal text-base z-20 text-white md:hidden absolute md:relative bottom-24 md:bottom-auto inset-x-0" >Yup, it’s free!</p>
  </div>
  <div class="hidden md:flex md:flex-row md:items-end md:space-x-3 md:-mt-10 pb-8 md:px-4">
    <div class="md:w-1/5">
      <%= image_tag "homepage/01.webp", alt: "", width: "244px", height: "374px" %>
    </div>
    <div class="md:w-1/5">
      <%= image_tag "homepage/02.webp", alt: "", width: "260px", height: "307px" %>
    </div>
    <div class="md:w-1/5">
      <%= image_tag "homepage/03m.webp", alt: "", width: "260px", height: "255px" %>
    </div>
    <div class="md:w-1/5">
      <%= image_tag "homepage/04.webp", alt: "", width: "260px", height: "307px" %>
    </div>
    <div class="md:w-1/5">
      <%= image_tag "homepage/05.webp", alt: "", width: "260px", height: "374px" %>
    </div>
  </div>
</div>

<div style="background: #FAFAFA;" class="py-10 md:pt-24 md:pb-20 px-4">
  <div class="text-center pb-11">
    <h1 class="roboto-font text-3xl md:text-5xl font-bold md:font-medium">Showcase your<br/>haircuts, colors & styles</h1>
  </div>
  <div class="mx-auto" style="max-width: 840px">
    <div class="flex flex-col">
      <div class="flex flex-row space-showcase">
        <div class="w-1/4 rounded-xl overflow-hidden md:rounded-md border md:border-none" style="border-color: rgba(0, 0, 0, 0.12)">
        <%= image_tag "homepage/stylists/01.webp", alt: "", width: "206px", height: "206px" %>
        </div>
        <div class="w-1/4 rounded-xl overflow-hidden md:rounded-md border md:border-none" style="border-color: rgba(0, 0, 0, 0.12)">
        <%= image_tag "homepage/stylists/02.webp", alt: "", width: "206px", height: "206px" %>
        </div>
        <div class="w-1/4 rounded-xl overflow-hidden md:rounded-md border md:border-none" style="border-color: rgba(0, 0, 0, 0.12)">
        <%= image_tag "homepage/stylists/03.webp", alt: "", width: "206px", height: "206px" %>
        </div>
        <div class="w-1/4 rounded-xl overflow-hidden md:rounded-md border md:border-none" style="border-color: rgba(0, 0, 0, 0.12)">
        <%= image_tag "homepage/stylists/04.webp", alt: "", width: "206px", height: "206px" %>
        </div>
      </div>
      <div class="flex flex-row pt-1 md:pt-0 space-showcase">
        <div class="w-1/4 rounded-xl overflow-hidden md:rounded-md border md:border-none" style="border-color: rgba(0, 0, 0, 0.12)">
        <%= image_tag "homepage/stylists/05.webp", alt: "", width: "206px", height: "206px" %>
        </div>
        <div class="w-1/4 rounded-xl overflow-hidden md:rounded-md border md:border-none" style="border-color: rgba(0, 0, 0, 0.12)">
        <%= image_tag "homepage/stylists/06.webp", alt: "", width: "206px", height: "206px" %>
        </div>
        <div class="w-1/4 rounded-xl overflow-hidden md:rounded-md border md:border-none" style="border-color: rgba(0, 0, 0, 0.12)">
        <%= image_tag "homepage/stylists/07.webp", alt: "", width: "206px", height: "206px" %>
        </div>
        <div class="w-1/4 rounded-xl overflow-hidden md:rounded-md border md:border-none" style="border-color: rgba(0, 0, 0, 0.12)">
        <%= image_tag "homepage/stylists/08.webp", alt: "", width: "206px", height: "206px" %>
        </div>
      </div>
    </div>
    <p class="roboto-font text-base font-medium pt-6 text-left" style="color: #4F4F4E;">Create Tags</p>
    <ul class="flex flex-wrap space-x-2 space-y-2 space-x-reverse">
      <li><span class="roboto-font font-medium text-xl px-4 py-1 mt-2 md:my-2 mr-2 block rounded-full" style="background: #E5E5E5; color: #4F4F4E;">Fade</span></li>
      <li><span class="roboto-font font-medium text-xl px-4 py-1 block rounded-full" style="background: #E5E5E5; color: #4F4F4E;">Wedding Style</span></li>
      <li><span class="roboto-font font-medium text-xl px-4 py-1 block rounded-full" style="background: #E5E5E5; color: #4F4F4E;">Brow Shaping</span></li>
      <li><span class="roboto-font font-medium text-xl px-4 py-1 block rounded-full" style="background: #E5E5E5; color: #4F4F4E;">Bang Trim</span></li>
      <li><span class="roboto-font font-medium text-xl px-4 py-1 block rounded-full" style="background: #E5E5E5; color: #4F4F4E;">Updo</span></li>
      <li><span class="roboto-font font-medium text-xl px-4 py-1 block rounded-full" style="background: #E5E5E5; color: #4F4F4E;">Hot Shave</span></li>
      <li><span class="roboto-font font-medium text-xl px-4 py-1 block rounded-full" style="background: #E5E5E5; color: #4F4F4E;">Weave</span></li>
    </ul>
  </div>
</div>

<div class="flex flex-col md:flex-row pb-4">
  <div class="md:w-1/2 relative">
    <%= image_tag "homepage/client01.webp", class: "hidden md:block", alt: "", width: "696px", height: "702px" %>
    <%= image_tag "homepage/client01-mobile.webp", class: "md:hidden w-full", alt: "", width: "414px", height: "514px" %>
    <h3 class="md:hidden absolute inset-0 font-medium roboto-font pb-7 md:text-black text-white text-center pt-5 md:pt-0 text-size-make-it-easy">Make it easy for clients<br/>to brag about your work</h3>
  </div>
  <div class="md:w-1/2 flex items-center justify-center px-4 py-10 md:py-0" style="background: #FAFAFA;">
    <div>
      <h3 class="hidden md:block font-medium roboto-font pb-7 md:text-black text-white text-center pt-5 md:pt-0 text-size-make-it-easy">Make it easy for clients<br/>to brag about your work</h3>
      <p class="block pb-6 text-center">
        <span class="border px-2 py-1 font-medium roboto-font rounded-full bg-white" style="color: #4F4F4E;">Salon House.com/yourname</span>
      </p>
      <p class="font-medium roboto-font text-base pb-6 text-center" style="color: #4F4F4E;">Seamless Sharing</p>
      <ul class="flex space-x-2 mx-auto" style="max-width: 148px">
        <li class="rounded-full border w-11 h-11 flex items-center justify-center">
          <%= image_tag "homepage/twitter.svg", alt: "", height: "22px", width: "27px" %>
        </li>
        <li class="rounded-full border w-11 h-11 flex items-center justify-center">
          <%= image_tag "homepage/facebook.svg", alt: "", height: "22px", width: "13px" %>
        </li>
        <li class="rounded-full border w-11 h-11 flex items-center justify-center">
          <%= image_tag "homepage/copy.svg", alt: "", height: "22px", width: "22px" %>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="bg-md-gray-home text-center py-20 px-4">
  <h2 class="roboto-font font-bold md:font-medium text-size-make-it-easy md:px-4">Designed for hairstylists<br/>by hairstylists</h2>
  <div class="pt-16">
    <%= link_to "Create Account", new_user_registration_path, class: "rounded-3xl max-w-xs py-3 block mx-auto", style: "background: #FFDE03;" %>
  </div>
</div>
