<%= turbo_frame_tag "phone" do %>
  <div class="w-full">
    <div id="view_phone" class="flex justify-between w-full">
      <div class="flex-1">
        <h2 class="pb-2 leading-3 roboto-font font-medium text-xs">Phone</h2>
        <p class="leading-2 roboto-font font-light text-sm sub-title-color">
          <% if user.has_phone? %>
            <a href="tel:<%= user.phone %>"><%= user.phone %></a>
          <% else %>
            What number can clients contact you at?
          <% end %>
        </p>
      </div>
      <div class="flex flex-col items-start">
        <% if local_assigns[:editable].present? %>
          <%= link_to "Edit", profile_edit_path("phone"), class: "roboto-font text-blue-500 pb-2 text-2xs font-normal w-full text-right" %>
        <% end %>
        <% if user.has_phone? && user.mobile?  %>
          <p class="text-sm text-gray-500"> <%= "#{user.phone_method.humanize} Preferred" %></p>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
