<%= turbo_frame_tag "social_medium_form" do %>
  <div id="edit_education" class="w-full p-2 bg-gray-100">
    <div class="py-2">
      <h1 class="text-normal">Link your social media accounts</h1>
    </div>
    <%= form_for(user, url: url, html: {method: :put, id: dom_id(user, "social_media")}) do |f| %>
      <%= render "devise/shared/error_messages", resource: user %>
      <% @social_data = SocialMedium.kinds.keys.map{|k| user.social_media.find_or_initialize_by(kind: k) }%>
      <%= f.fields_for :social_media, @social_media  do |social_form| %>
        <div class="w-full px-4 my-1 bg-white border rounded-lg inline-flex flex-row items-center focus:border-gray-500 focus:outline-none">
          <%= image_tag "icons/#{social_form.object.kind}.svg", class: "w-5", alt: social_form.object.kind %>
          <span class="ml-4 text-gray-500"><%= "https://#{social_form.object.kind}.com/" %></span>
          <%= social_form.text_field :url, placeholder: "username", class: "w-full py-3 focus:border-none outline-none autofill:bg-white" %>
          <%= social_form.text_field :kind, class: "hidden" %>
          <%= social_form.text_field :id, class: "hidden" %>
        </div>
      <% end %>
      <p class="text-xs text-gray-500">Copy and paste your social media accounts</p>
      <input type="hidden" name="frame" value="social_medium_form">
      <input type="hidden" name="component" value="social_medium">
      <div class="pt-4 pb-2 text-right actions">
        <%= link_to "Cancel", profile_view_path("social_medium_form", "social_medium"), class: "text-gray-500 lg:px-4 py-2 rounded-md text-sm font-medium mr-2" %>
        <%= submit_tag "Save", class: "bg-blue-500 text-white hover:bg-blue-700 px-4 py-2 rounded-md text-sm font-medium" %>
      </div>
    <% end %>
  </div>
<% end %>
