<%= turbo_frame_tag "experience_form" do %>
  <div id="edit_experience" class="w-full p-2 bg-gray-100">
    <div class="py-2">
      <h1 class="text-normal">When did you start doing hair?</h1>
    </div>
    <%= form_for(user, url: url, html: {method: :put, id: dom_id(user, "experience")}) do |f| %>
      <%= render "devise/shared/error_messages", resource: user %>
      <div class="flex flex-col-reverse w-full">
        <%= f.date_select :started_at, { discard_day: true, default: { day: 1 }, start_year: 1960, end_year: Date.today.year }, autofocus: true, class: "px-4 py-3 w-full rounded-lg mt-2 border focus:border-gray-500 focus:outline-none autofill:bg-white" %>
      </div>
      <input type="hidden" name="from_url" value="<%= from_url %>">
      <input type="hidden" name="frame" value="experience_form">
      <input type="hidden" name="component" value="experience">
      <div class="pt-4 pb-2 text-right actions">
        <%= link_to "Cancel", profile_view_path("experience_form", "experience"), class: "text-gray-500 lg:px-4 py-2 rounded-md text-sm font-medium mr-2" %>
        <%= submit_tag "Save", class: "bg-blue-500 text-white hover:bg-blue-700 px-4 py-2 rounded-md text-sm font-medium" %>
      </div>
    <% end %>
  </div>
<% end %>
