<section class="flex flex-col items-center h-full md:flex-row">
  <div class="w-full h-full px-6 bg-white md:mx-auto md:w-1/2 md:max-w-md lg:px-16 lg:max-w-full xl:px-12">
    <header class="w-full h-15">
      <nav class="w-full py-3 mx-auto space-y-4 max-w-screen-2xl md:flex md:justify-between md:items-center">
        <div class="flex justify-between w-full">
          <%= render "shared/logo" %>
        </div>
      </nav>
    </header>
    <div class="flex flex-col h-screen-headless md:flex-wrap md:content-between">
      <div class="flex flex-col flex-1 w-full pb-4 mt-28 md:justify-center md:mt-0">
        <div class="md:w-full">
          <h1 class="text-xl font-bold leading-tight text-center md:mt-12 md:text-2xl">Sign In</h1>
          <p class="pb-6 text-sm text-center">Welcome to your online portfolio</p>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "mt-6") do |f| %>
            <%= render 'shared/notices' %>
            <div class="pb-4">
              <%= f.email_field :email, autofocus: true, placeholder: "Email Address", autocomplete: "email", class: "w-full px-4 py-3 rounded-lg mt-2 border focus:border-gray-500 focus:outline-none autofill:bg-white" %>
            </div>
            <div class="pb-4">
              <%= f.password_field :password, placeholder: "Password" ,autocomplete: "current-password", class: "w-full px-4 py-3 rounded-lg mt-2 border focus:border-gray-500 focus:outline-none" %>
            </div>
            <div class="flex justify-between">
              <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                <%= link_to "Forgot Password?", new_password_path(resource_name), class: "text-blue-500" %><br />
              <% end %>
              <%= f.submit "Sign In", class: "border border-blue-500 text-white bg-blue-500 hover:bg-blue-700 hover:text-white px-4 py-2 rounded-md text-xs md:text-sm font-medium" %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="w-full py-4 text-center border-t md:mb-8 border-t-gray-200">
        <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
          <p class="text-normal">Don't have an account? <%= link_to "Sign up!", new_registration_path(resource_name), class: "text-blue-500" %></p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="hidden w-auto min-h-screen bg-gray-600 bg-no-repeat bg-cover md:w-1/2 lg:block" style="background-image: url(<%= image_url "bg/bg-01.jpg" %>); background-position: center top;">
  </div>
</section>
