<section class="flex flex-col md:flex-row min-h-screen items-center">
  <div class="bg-white w-full md:max-w-md lg:max-w-full md:mx-auto md:mx-0 md:w-1/2 px-6 lg:px-16 xl:px-12 min-h-screen flex flex-wrap content-between pt-2">
    <%= render "shared/logo" %>
    <div class="w-full h-100 pb-4">
      <h1 class="text-xl md:text-2xl font-bold leading-tight mt-12 text-center">Sign In</h1>
      <p class="text-sm text-center pb-6">Welcome to your online portfolio</p>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "mt-6") do |f| %>
        <%= render 'shared/notices' %>
        <div class="pb-4">
          <%= f.email_field :email, autofocus: true, placeholder: "Email Address", autocomplete: "email", class: "w-full px-4 py-3 rounded-lg mt-2 border focus:border-gray-500 focus:outline-none autofill:bg-white" %>
        </div>
        <div class="pb-4">
          <%= f.password_field :password, placeholder: "Password" ,autocomplete: "current-password", class: "w-full px-4 py-3 rounded-lg mt-2 border focus:border-gray-500 focus:outline-none" %>
        </div>
        <div class="flex justify-between">
          <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
            <%= link_to "Forgot Password?", new_password_path(resource_name), class: "text-blue-500" %><br />
          <% end %>
          <%= f.submit "Sign in", class: "lg:border lg:border-blue-500 lg:text-white lg:bg-blue-500 hover:bg-blue-700 hover:text-white lg:px-4 py-2 rounded-md text-sm font-medium" %>
        </div>
      <% end %>
    </div>
    <div class="border-t border-t-gray-200 py-2 mb-8">
      <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
        <p class="text-normal">Don't have an account? <%= link_to "Sign up!", new_registration_path(resource_name), class: "text-blue-500" %></p>
      <% end %>
    </div>
  </div>
  <div class="bg-gray-600 hidden lg:block w-auto md:w-1/2 min-h-screen bg-no-repeat bg-cover" style="background-image: url(<%= image_url "bg/bg-01.jpg" %>); background-position: center top;">
  </div>
</section>
