<form class="flex-1 w-full space-y-4" role="search" x-ref="searchForm" x-data="{order: '<%= params.dig(:user, :order) %>', direction: '<%= params.dig(:user, :direction) %>'}">
  <div class="flex md:space-x-4 space-y-4 md:space-y-0 flex-col md:flex-row">
    <select class="border-blueGray-300 px-3 py-2 text-sm  w-full placeholder-blueGray-200 text-blueGray-700 relative bg-white rounded-md outline-none focus:ring-lightBlue-500 focus:ring-1 focus:border-lightBlue-500 border border-solid transition duration-200" onchange="this.form.submit()"
          id="filter_status"
          name="filter[status]">
      <option value>Filter by status</option>
      <option value="active:" <%= "selected" if params.dig(:filter, :status) == "active:" %>>Active</option>
      <option value="deactivated:" <%= "selected" if params.dig(:filter, :status) == "deactivated:" %>>Deactivated</option>
    </select>

    <select class="border-blueGray-300 px-3 py-2 text-sm  w-full placeholder-blueGray-200 text-blueGray-700 relative bg-white rounded-md outline-none focus:ring-lightBlue-500 focus:ring-1 focus:border-lightBlue-500 border border-solid transition duration-200" onchange="this.form.submit()"
            id="filter_role"
            name="filter[role]">
      <option value>Filter by title</option>
      <option value="hair_stylist:" <%= "selected" if params.dig(:filter, :role) == "hair_stylist:" %>>Hair Stylist</option>
      <option value="barber:" <%= "selected" if params.dig(:filter, :role) == "barber:" %>>Barber</option>
    </select>

    <select class="border-blueGray-300 px-3 py-2 text-sm  w-full placeholder-blueGray-200 text-blueGray-700 relative bg-white rounded-md outline-none focus:ring-lightBlue-500 focus:ring-1 focus:border-lightBlue-500 border border-solid transition duration-200" onchange="this.form.submit()"
            id="filter_has_posts"
            name="filter[has_posts]">
      <option value>Filter by post</option>
      <option value="no_posts:" <%= "selected" if params.dig(:filter, :has_posts) == "no_posts:" %>>No Posts</option>
      <option value="has_posts:" <%= "selected" if params.dig(:filter, :has_posts) == "has_posts:" %>>Has posts</option>
    </select>

    <select class="border-blueGray-300 px-3 py-2 text-sm  w-full placeholder-blueGray-200 text-blueGray-700 relative bg-white rounded-md outline-none focus:ring-lightBlue-500 focus:ring-1 focus:border-lightBlue-500 border border-solid transition duration-200"
      x-model="direction" x-on:change="if (direction){ order = 'flags_count' } else {order = ''; direction= '';}; setTimeout(function() {$refs.searchForm.submit()}, 100);">
      <option value>Sort by flags</option>
      <option value="desc" <%= "selected" if  params.dig(:user, :direction) == "desc" && params.dig(:user, :order) == "flags_count" %>>Highest flags</option>
      <option value="asc" <%= "selected" if  params.dig(:user, :direction) == "asc" && params.dig(:user, :order) ==  "flags_count" %>>Lowest flags</option>
    </select>
    <input type="hidden" name="user[order]" x-model="order" />
    <input type="hidden" name="user[direction]" x-model="direction" />
  </div>
  <div class="flex space-x-4 flex-col md:flex-row items-center">
    <input type="search" id="filter_search" name="filter[search]" placeholder="Filter by state/province, first name, last name, ..."
            class="border-blueGray-300 px-3 py-2 text-sm  w-full placeholder-blueGray-200 text-blueGray-700 relative bg-white rounded-md outline-none focus:ring-lightBlue-500 focus:ring-1 focus:border-lightBlue-500 border border-solid transition duration-200"
            value="<%= params[:filter][:search] if params.dig(:filter, :search).present? %>" />

    <%= link_to t("administrate.search.clear"), admin_users_path, class: "text-red-500 w-32 md:text-right block py-2" %>
  </div>
</form>
