<%= turbo_frame_tag "specialty_form" do %>
  <div id="edit_specialties" class="w-full p-2 bg-gray-100">
    <div class="py-2">
      <h1 class="text-normal">What are you an expert at?  (Max 3)</h1>
    </div>
    <%= form_for(user, url: url, html: {method: :put, id: dom_id(user, "specialty")}) do |f| %>
      <%= render "devise/shared/error_messages", resource: user %>
      <div class="flex flex-col w-full md:inline-flex md:flex-row md:items-center">
        <div class="relative block w-full">
          <div x-data data-limit="3" 
            data-tags='[<%= user.specialties.pluck(:name).map{|name| "\"#{name}\""}.join(',') %>]'
            data-tagIds='[<%= user.specialties.pluck(:id).map{|id| "\"#{id}\""}.join(',') %>]'>
            <div x-data="tagSelect()" x-init="init('parentEl')" @click.away="clearSearch()" @keydown.escape="clearSearch()">
              <div class="relative inline-block w-full overflow-y-scroll" @keydown.enter.prevent="addTag(textInput)" @click.prevent="focusTag()">
                <div :class="[open ? 'block' : 'hidden']">
                  <div class="absolute left-0 z-40 w-full p-1">
                    <div class="py-1 text-sm bg-white border border-gray-300 rounded shadow-lg">
                      <a @click.prevent="addTag(textInput)" class="block px-5 py-1 cursor-pointer hover:text-white hover:bg-indigo-600">Add specialty "<span class="font-semibold" x-text="textInput"></span>"</a>
                    </div>
                  </div>
                </div>
                <div class="items-center w-full p-1 text-sm" :class="{ hidden : tags.length >= 3 }">
                  <input x-model="textInput" x-ref="textInput" @input="search($event.target.value)" class="w-full p-2 leading-tight text-gray-700 bg-white border rounded focus:outline-none focus:shadow-outline" placeholder="i.e. Fades, Braids, Curly Hair">
                  <p class="my-2 text-sm text-gray-500">Seperate skills with a comma</p>
                </div>
                <!-- selections -->
                <template x-for="(tag, index) in tags">
                  <div class="inline-flex items-center m-1 text-sm text-gray-500 bg-white border border-gray-200 rounded-full">
                    <input type="hidden" name="user[specialties_attributes][][id]" :value="tagIds[index] !== undefined ? tagIds[index] : ''" />
                    <input type="hidden" name="user[specialties_attributes][][name]" :value="tag" />
                    <input type="hidden" name="user[specialties_attributes][][_destroy]" />
                    <span class="max-w-xs ml-2 mr-1 leading-relaxed truncate" x-text="tag"></span>
                    <button @click.prevent="removeTag(index)" class="inline-block w-6 h-8 text-gray-500 align-middle hover:text-gray-600 focus:outline-none">
                      <svg class="w-6 h-6 mx-auto text-gray-200 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#fff"><path fill-rule="evenodd" d="M15.78 14.36a1 1 0 0 1-1.42 1.42l-2.82-2.83-2.83 2.83a1 1 0 1 1-1.42-1.42l2.83-2.82L7.3 8.7a1 1 0 0 1 1.42-1.42l2.83 2.83 2.82-2.83a1 1 0 0 1 1.42 1.42l-2.83 2.83 2.83 2.82z"/></svg>
                    </button>
                  </div>
                </template>
                <template x-for="(tag, index) in removeTags">
                  <div :data-id="tag">
                    <input type="hidden" name="user[specialties_attributes][][id]" :value="tag" />
                    <input type="hidden" name="user[specialties_attributes][][name]" />
                    <input type="hidden" name="user[specialties_attributes][][_destroy]" value="true" />
                  </div>
                </template>
              </div>
              <div class="pt-4 pb-2 text-right actions">
                <%= link_to "Cancel", profile_view_path("specialty_form", "specialty"), class: "text-gray-500 lg:px-4 py-2 rounded-md text-sm font-medium mr-2" %>
                <%= submit_tag "Save", class: "bg-blue-500 text-white hover:bg-blue-700 px-4 py-2 rounded-md text-sm font-medium", 
                  ":class": "{'opacity-50': tags.length === 0 && removeTags.length === 0}", 
                  ":disabled": "tags.length === 0 && removeTags.length === 0" %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <input type="hidden" name="from_url" value="<%= from_url %>">
      <input type="hidden" name="frame" value="specialty_form">
      <input type="hidden" name="component" value="specialty">
      
    <% end %>
  </div>
<% end %>
