<%= turbo_frame_tag "promo_form" do %>
  <%= form_for(user, url: url, html: {method: :put, id: dom_id(user, "promo")}) do |f| %>
    <div id="edit_promo" class="p-2 text-left bg-gray-100 md:ml-4">
      <%= render "devise/shared/error_messages", resource: user %>
      <div class="w-full py-2">
        <div class="w-full" x-data="{ count: 0 }" x-init="count = $refs.countmeIncentives.value.length">
          <%= f.label :client_incentives, "Client Incentives", class: "block text-sm pb-2" %>
          <%= f.text_area :client_incentives, autofocus: true, "x-ref": "countmeIncentives", "x-on:keyup": "count = $refs.countmeIncentives.value.length", maxlength: "61", placeholder: "i.e. Bring a friend and get 20% off", class: "px-4 py-2 w-full rounded-lg border focus:border-gray-500 focus:outline-none autofill:bg-white" %>
          <div class="text-right">
            <span x-html="count"></span> /
            <span x-html="$refs.countmeIncentives.maxLength"></span>
          </div>
        </div>
        <div class="w-full" x-data="{ count: 0 }" x-init="count = $refs.countmeCondition.value.length">
          <%= f.label :condition_for_incenrive, "Add a condition to your incentive", class: "block text-sm pb-2 mt-6" %>
          <%= f.text_area :condition_for_incenrive, "x-ref": "countmeCondition", "x-on:keyup": "count = $refs.countmeCondition.value.length", maxlength: "26", placeholder: "i.e. 1 per person (optional)", class: "px-4 py-2 w-full rounded-lg border focus:border-gray-500 focus:outline-none autofill:bg-white" %>
          <div class="text-right">
            <span x-html="count"></span> /
            <span x-html="$refs.countmeCondition.maxLength"></span>
          </div>
        </div>
      </div>
      <input type="hidden" name="from_url" value="<%= from_url %>">
      <input type="hidden" name="frame" value="promo_form">
      <input type="hidden" name="component" value="promo">
      <div class="pt-4 pb-2 text-right actions">
        <%= link_to "Cancel", profile_view_path("promo_form", "promo"), class: "text-gray-500 lg:px-4 py-2 rounded-md text-sm font-medium mr-2" %>
        <%= submit_tag "Save", class: "bg-blue-500 text-white hover:bg-blue-700 px-4 py-2 rounded-md text-sm font-medium" %>
      </div>
    </div>
  <% end %>
<% end %>
