<%= turbo_frame_tag "promo" do %>
  <% if user.has_promo? %>
    <p class="text-xs text-center text-red-500 roboto-font font-medium"><%= user.client_incentives %></p>
    <p class="text-xs italic text-center text-gray-600 roboto-font font-light"><%= user.condition_for_incenrive %></p>
    <% if local_assigns[:editable].present? %>
      <%= link_to "Edit", profile_edit_path("promo"), class: "roboto-font text-blue-500 pb-2 text-2xs font-normal w-full text-right md:text-center absolute top-0 right-0 md:relative md:top-auto md:right:auto mt-2 mr-3 md:block md:items-start md:mr-0 md:mt-0 roboto-font font-light text-sm #{" hidden" if !user.has_promo? }" %>
    <% end %>
  <% else %>
    <% if local_assigns[:editable].present? %>
      <p class="text-sm text-gray-500 roboto-font font-light">Client Promo</p>
      <%= link_to "Add Promo", profile_edit_path("promo"), class: "text-blue-500 text-sm md:text-sm" %>
    <% end %>
  <% end %>
<% end %>
