<%= turbo_frame_tag "education_form" do %>
  <div id="edit_education" class="w-full p-2 bg-gray-100">
    <div class="py-2">
      <h1 class="text-normal">Where did you learn to do hair?</h1>
    </div>
    <%= form_for(user, url: url, html: {method: :put, id: dom_id(user, "education")}) do |f| %>
      <%= render "devise/shared/error_messages", resource: user %>
      <div class="w-full md:inline-flex md:flex-row md:items-center">
        <%= f.text_field :education, autofocus: true, placeholder: "i.e. Vancouver Hair Academy", class: "px-4 py-3 w-full rounded-lg mt-2 border focus:border-gray-500 focus:outline-none autofill:bg-white" %>
      </div>
      <input type="hidden" name="from_url" value="<%= from_url %>">
      <input type="hidden" name="frame" value="education_form">
      <input type="hidden" name="component" value="education">
      <div class="pt-4 pb-2 text-right actions">
        <%= link_to "Cancel", profile_view_path("education_form", "education"), class: "text-gray-500 lg:px-4 py-2 rounded-md text-sm font-medium mr-2" %>
        <%= submit_tag "Save", class: "bg-blue-500 text-white hover:bg-blue-700 px-4 py-2 rounded-md text-sm font-medium" %>
      </div>
    <% end %>
  </div>
<% end %>
